.rm-breadcrumb-container{
    padding: 4px 0;
    background: #ebebeb;
    margin-bottom: 10px;
}
.rm-breadcrumb-container:after{
    content: '';
    display: block;
    clear: both;
}
.rm-breadcrumb-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.rm-breadcrumb-container ul li{
    list-style: none;
    float: left;
}
.rm-breadcrumb-container ul li a,
.rm-breadcrumb-container ul li em{
    padding: 5px 8px;
    display: inline-block;
}
.rm-breadcrumb-container ul li a.with-icon{
    padding-left: 22px;
}
.rm-breadcrumb-container ul li:first-child a{
    width: 16px;
    height: 16px;
}
.rm-breadcrumb-container ul li:first-child a span,
.rm-breadcrumb-container ul li:nth-child(2) span{
    display: none;
}