span.rmc_options{
	display: block;
	font-size: 0.9em;
	padding: 4px 0;
	visibility: hidden;
}
.even:hover span.rmc_options, .odd:hover span.rmc_options{
	visibility: visible;
}
div.cu-bulk-actions{
	padding: 8px 0;
	overflow: hidden;
}
div.cu-bulk-actions div.rmc_pages_navigation_container{
	float: right;
}
div.cu-bulk-actions .form-control{
    max-width: 150px!important;
    display: inline-block;
}
.descriptions{
	padding: 8px 0;
	color: #666;
}
/* IMAGE MANAGER */
.image_manager_launcher{
    background-image: url(../images/images.png);
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 24px;
}
.imgmgr_container{
    width: 700px;
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -350px;
}

/* Admin Toolbar */
#rmc-toolbar .nav > li > .cu-tool > span{
    background: url(../images/sprites/toolbar.png);
    background-repeat: no-repeat;
}
#rmc-toolbar .nav > li > .tool-dashboard > span{ background-position: 0 0; }
#rmc-toolbar .nav > li > .tool-modules > span{ background-position: -32px 0; }
#rmc-toolbar .nav > li > .tool-blocks > span{ background-position: -64px 0; }
#rmc-toolbar .nav > li > .tool-groups > span{ background-position: -96px 0; }
#rmc-toolbar .nav > li > .tool-users > span{ background-position: -128px 0; }
#rmc-toolbar .nav > li > .tool-images > span{ background-position: -160px 0; }
#rmc-toolbar .nav > li > .tool-comments > span{ background-position: -192px 0; }
#rmc-toolbar .nav > li > .tool-plugins > span{ background-position: -224px 0; }
#rmc-toolbar .nav > li > .tool-updates > span{ background-position: -256px 0; }
#rmc-toolbar .nav > li > .tool-users-list > span{ background-position: -288px 0; }
#rmc-toolbar .nav > li > .tool-user-add > span{ background-position: 0 -32px; }
#rmc-toolbar .nav > li > .tool-categories-images > span{ background-position: -96px -32px; }
#rmc-toolbar .nav > li > .tool-category-add > span{ background-position: -128px -32px; }
#rmc-toolbar .nav > li > .tool-images-add > span{ background-position: -160px -32px; }

/*
LOADER
This classes are used with ajax loader
*/
/* Blocker */
#cu-window-blocker{
    background: #FFF;
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0.3;
    z-index: 1050;
}
#cu-window-loader{
    display: none;
    width: 300px;
    height: 60px;
    line-height: 48px;
    position: fixed;
    top: 50%; left: 50%;
    margin-top: -30px;
    margin-left: -150px;
    background: #EBEBEB;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    color: #666;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    z-index: 1052;
}
#cu-loader > .loader-container{
    padding: 6px 6px 6px 40px;
    background: url(../images/loader-gray.gif) no-repeat 6px 14px;
}

/*
CU Top Tabs
*/
.cu-top-tabs{
    background: #f2f2f2;
    padding: 10px 15px 0 15px!important;
    margin: -5px -15px 15px -15px;
}