.form-container{
	margin: 0 60px;
}
.form-container label.control-label{
	font-weight: bold;
}
.single-size{
	border: 1px solid #ddd;
	border-radius: 3px;
	display: inline-block;
	width: 250px;
	padding: 15px;
	margin: 0 5px 5px 0;
	color: #666;
}
.form-container .form-actions{
	padding: 10px!important;
	margin: 15px -15px -15px -15px;
	border-radius: 0 0 3px 3px;
}
.form-container .new-container{
	margin: 15px 0;
}
.form-container input[name*="[name]"]{
	font-weight: bold;
	text-decoration: underline;
}
.form-container .cat-buttons{
	padding: 15px 0 0 0;
	border-top: 1px solid #eee;
	margin-top: 20px;
}

a.delsize{
	float: right;
	font-weight: normal;
	background: url(../images/delete.png) no-repeat left;
	padding: 3px 3px 3px 19px;
}
td#sizes-container-all{
	overflow: hidden;
}
td#sizes-container-all table.outer{
	width: 435px;
	float: left;
}
td#sizes-container-all table{
	margin: 5px;
}
td#sizes-container-all div.new_container{
	clear: both;
	margin-top: 10px;
	text-align: center;
}
td.sizes_data{
	font-size: 0.9em;
	color: #666;
}
td.sizes_data em{
	font-style: normal;
	color: #800000;
}

/** IMAGES **/
div.select_image_cat{
	border-bottom: 1px dotted #ddd;
	margin: 0 0 20px 0;
	font-weight: bold;
	margin-bottom: 10px;
}
#upload-errors{
	padding: 10px;
	margin: 10px 0;
	float: right;
	width: 300px;
}
#upload-errors span.failed{
	background: url(../images/error.png) no-repeat left;
	padding: 5px 0 5px 19px;
	color: #f00;
	margin: 2px 0;
	display: block;
}
#upload-errors span.done{
	background: url(../images/done.png) no-repeat left;
	padding: 5px 0 5px 19px;
	margin: 2px 0;
	display: block;
}
#resizer-bar{
	text-align: center;
	font-size: 0.9em;
	color: #666;
	display: none;
}
#resizer-bar span.message{
	display: block;
	float: left;
	color: #008000;
}
#resizer-bar span.message span{
	color: #F00;
}
div.donebutton{
	display: none;
	margin: 10px 0;
}
div#gen-thumbnails img{
	width: 90px;
	height: 70px;
	margin: 4px;
	padding: 1px;
	border: 1px solid #666;
}
.even .description, .odd .description{
	font-size: 0.9em;
	display: block;
	padding: 2px 0;
	font-style: italic;
	color: #666;
}
.rmc_pages_navigation_container{
	float: right;
}
#image-loader{
	display: none;
	position: absolute;
	padding: 10px;
	background: #fff;
	top: 50%;
	left: 50%;
	-moz-box-shadow: 0 0 20px #000;
	-webkit-box-shadow: 0 0 20px #000;
	box-shadow: 0 0 20px #000;
}
#upload-controls input{
	float: none;
}