/** Table **/
.tablesorter{
    border: 1px solid #CCC;
}
.tablesorter tr td{
    border-bottom: 1px solid #CCC;
}

/** Modules Widget **/
.rmc_modules_widget ul{
    position: relative;
}
.rmc_modules_widget ul > li{
	overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.rmc_mod_info{display: none;}
#mod-info-blocker{
    background: #FFF;
    background: rgba(0,0,0,0.4);
    display: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
#mod-info-data{
    display: none;
	padding: 90px 15px 0;
	font-size: 0.85em;
	color: #FFF;
    background: #222222;
    position: fixed;
    top: 100px; left: 2%; right: 2%;
}
#mod-info-data > .header{
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 82px;
}
#mod-info-data > .header > .logo{
    width: 122px;
    background: #038AAC;
    padding: 15px;
    position: absolute;
    top: 0; left: 0; bottom: 0;
}
#mod-info-data > .header > .name{
    position: absolute;
    top: 0; left: 122px; right: 0; bottom: 0;
    padding: 10px 15px;
    background: #8CBF26;
}
#mod-info-data > .header > .name > h4{
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 0 3px 0;
}
#mod-info-data > .header > .name > .help-block{
    margin: 0;
    color: #EBF4DA;
}
#mod-info-data table,
#mod-info-data table tr td{
    background: transparent!important;
    padding: 2px 2px 2px 0!important;
    color: #7b7b7b;
}
#mod-info-data table tr td:last-child{
    color: #FFF;
}
#mod-info-data .contact-options{
    font-size: 28px;
}
.rmc_mod_img{
	display: block;
	float: left;
	height: 52px;
	width: 92px;
	margin: 0 5px 0 0px;
    cursor: pointer;
    background-size: 92px;
    background-position: center;
    background-repeat: no-repeat;
}
.rmc_mod_img span{
	display: block;
	height: 38px;
	width: 38px;
	border: 1px solid #fff;
	-moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.rmc_available_options{
	display: block;
	font-size: 0.85em;
}
/** Modules Content **/
#des-mods-container{

}
#des-mods-container .logo img{

    width: 48px;
    display: block;
}
#des-mods-container .name a{
    font-weight: bold;
    font-size: 1.1em;
}
#des-mods-container .name a.rename{
    font-size: 0.7em;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px;
    line-height: 100%;
    margin-left: 5px;
}
#des-mods-container .renamer{
    display: block;
    position: relative;
    width: 250px;
    border: 0;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
#des-mods-container .name a.savenewname,
#des-mods-container .name a.cancelnewname{
    background: #F5F5F5 url("../images/save.png") no-repeat center;
    padding: 4px;
    width: 22px;
    text-align: center;
    display: block;
    position: absolute;
    border-left: 1px solid rgba(0,0,0,0.1);
}
#des-mods-container .name a.savenewname{
    top: 0; right: 0px; bottom: 0;
}
#des-mods-container .name a.cancelnewname{
    background: #F5F5F5 url("../images/cancels.png") no-repeat center;
    top: 0; right: 22px; bottom: 0;
}
#des-mods-container .name .savenewname span,
#des-mods-container .name .cancelnewname span{display: none;}
#des-mods-container .renamer input{
    padding: 5px 4px;
    margin: 0;
    border: 0;
    width: 206px;
    border-radius: 0;
}

#des-mods-container .descriptions{
	line-height: 120%;
	display: block;
    font-size: 0.9em;
    margin: 0;
    padding: 2px 0;
}
#des-mods-container .author{
    font-size: 0.9em;
    color: #666;
}
.inactive td{
    border-bottom:1px dashed #ccc;
    font-style: italic;
    color: #666;
}
.rmc_item_module .data_storage{
	display: none;
}

.hidden_data{display: none;}

.actions
{
    text-align: center;
    min-width: 180px;
}
.tablesorter tbody tr:last-child td{
    border-bottom: 0;
}
.actions a{
    font-size: 1.3em;
}

.mod_preinstall_container{

}

.table-module-details td.head{
    background: #ebebeb;
    text-align: center;
    vertical-align: middle;
}

.mod_options{
    padding: 10px 0;
    font-weight: bold;
}
.mod_log{
    max-height: 500px;
    overflow: auto;
    background: #f4f4f4;
    border: 1px solid #CCC;
    padding: 10px;
}
.mod_log strong{
    color: #BB5E00;
}
#info-module .header h3{
    font-weight: bold;
    padding: 0;
    margin: 0;
}
#info-module .header .desc{
    display: block;
    margin: 0;
    font-size: 0.9em;
}
#info-module .social a{
    font-size: 32px;
}
#mods-widget-container{
    min-height: 600px;
    position: relative;
}
#mods-widget-container > ul{
    min-height: 510px;
}
#mods-widget-container .pagination-container{
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
}
#img-load{
    position: absolute;
    top: 50%; left: 50%;
    margin: -6px 0 0 -8px;
}
#mods-widget-container .pagination-container .pagination{
    margin: 0;
}


/* Queries */
@media (min-width: 768px) {
    #mod-info-data{
        left: 30%; right: 30%;
    }
}