/* Neutral Flavor */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=latin,latin-ext);
body{
    background: #f2f2f2;
    font-family: 'Ubuntu', sans-serif;
    color: #757575;
}
a{
    color: #333;
}
a:hover{
    color: #C73935;
    text-decoration: none;
}
.cu-titlebar{
    background: #E1E1E1; /* Old browsers */
    color: #333;
}
.xo-blackbar{
    background-color: #1b1b1b;
    border-color: #252525;
    box-shadow:inset 0px 1px 0 0px #6B6B6B;
    -moz-box-shadow:inset 0px 1px 0 0px #6B6B6B;
    -webkit-box-shadow:inset 0px 1px 0 0px #6B6B6B;
    -o-box-shadow:inset 0px 1px 0 0px #6B6B6B;
}

.dropdown-menu{
    box-shadow: 0 3px 3px rgba(0,0,0,0.175);
    border: 0;
    border-radius: 0;
    background: #363635;
}
#xo-menubar {
    background: #D6D6D6;
    border-color: transparent;
}
#xo-menubar .navbar-collapse{
    border: 0;
}
#xo-menubar .navbar-brand{
    padding: 14px 15px;
}
#xo-menubar .navbar-nav > li > a,
#xo-menubar .navbar-nav .open .dropdown-menu a{
    color: #5D5D5D;
}
#xo-menubar .navbar-nav .open a,
#xo-menubar .navbar-nav .open .dropdown-menu{
    background-color: #FFF;
    color: #5D5D5D;
    border-radius: 0;
}
#xo-menubar .navbar-nav .active.open a,
#xo-menubar .navbar-nav .active.open .dropdown-menu{
    background-color: #5D5D5D;
    color: #A6A6A6;
    border-radius: 0;
}
#xo-menubar .navbar-nav .open .dropdown-menu{
    box-shadow: 0;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
}
#xo-menubar .navbar-nav .open .dropdown-menu a{
    color: #757575;
}
#xo-menubar .navbar-nav .open .dropdown-menu a:hover{
    background-color: #5D5D5D;
    color: #FFF;
}
#xo-menubar li.divider{
    background: rgba(0,0,0,0.1);
}

#xo-toolbar{
    border-color: transparent;
}
#xo-toolbar .navbar-collapse .nav > li > a > .caret{
    border-top-color: #B0B0B0;
}
#xo-toolbar .navbar-collapse .nav > li.open > a > .caret{
    border-top-color: #FFF;
}
#xo-toolbar a,
#xo-toolbar .navbar-collapse .nav > li > a{
    color: #757575;
}
#xo-toolbar li > a:hover,
#xo-toolbar .navbar-collapse .nav > li > a:hover{
    background: #5D5D5D;
    color: #FFF;
}
#xo-toolbar li li{
    font-size: 0.9em;
}
#xo-toolbar .navbar-nav .open a,
#xo-toolbar .navbar-nav .open .dropdown-menu,
#xo-toolbar .navbar-collapse .nav > li.open > a{
    background-color: #5D5D5D; /*#E94C6F;*/
    color: #FFF;
    border-radius: 0;
}
#xo-toolbar .dropdown-menu a:hover{
    background: #D6D6D6;
    color: #5D5D5D;
}
#xo-toolbar li.divider{
    background: rgba(255,255,255,0.1);
}


.dropdown-submenu .dropdown-menu{
     border-radius: 0;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#B0B0B0;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.open > .dropdown-menu {
     display: block;
}

#rmc-toolbar{
    position: fixed;
    top: 87px; left: 0; right: 0;
    background: #FFF;
    z-index: 1000;
    border-radius: 0;
}
#rmc-toolbar > .navbar-collapse{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0;
    min-height: 30px;
}
#rmc-toolbar .nav > li button{
    padding: 5px 10px;
    text-align: center;
    border: 0;
    color: #5d5d5d;
    background: transparent;
}
#rmc-toolbar .nav > li button:hover{
    color: #333;
}
#rmc-toolbar .nav > li button > i{
    display: block;
    text-align: center;
    margin: 0 auto;
}
#rmc-toolbar .nav > li button > span.tool-icon{
    display: block;
    width: 32px; height: 32px;
    background-size: 32px 32px;
    font-size: 32px;
    margin: 0 auto 3px auto;
}
#rmc-toolbar .nav > li button > span > img{
    width: 32px;
    height: 32px;
}
#rmc-toolbar .btn-group.open .dropdown-toggle{
    box-shadow: none;
    background: #e1e1e1;
    color: #5D5D5D;
}
#rmc-toolbar .dropdown-menu{
    background: #e1e1e1;
    margin: 0;
}
#rmc-toolbar .dropdown-menu > li > a{
    color: #5D5D5D;
}
#rmc-toolbar .dropdown-menu > li > a:hover{
    background: #5D5D5D;
    color: #FFF;
}

#xo-menubar .navbar-nav > .active > a,
#xo-menubar .navbar-nav > .active.open > a {
    background-color: #5D5D5D;
    color: #FFF;
}
#xo-menubar .navbar-nav > .active.open .dropdown-menu a{
    color: #FFF;
}
#xo-toolbar .navbar-nav .active > a,
#xo-toolbar .navbar-nav .active.open > a {
    background-color: #C73935!important;
}

/* BREADCRUMB */
.cu-breadcrumb-container ul{
    background: #5D5D5D;
    color: #C5C5C5;
}
.cu-breadcrumb-container ul li a,
.cu-breadcrumb-container ul li:nth-child(1) a{
    color: #C5C5C5;
}
.cu-breadcrumb-container ul li a:hover,
.cu-breadcrumb-container ul li:nth-child(1) a:hover{
    color: #FFF;
}
.cu-breadcrumb-container ul li.active{
    color: #FFF;
}
.cu-breadcrumb-container .breadcrumb-puller{
    background: #5D5D5D;
    color: #FFF;
}
.breadcrumb>li+li:before{
    color: #C5C5C5;
}

/* Dashboard boxes */
.cu-box{
    background-color: #FFF;
}
.box-header{
    color: #5D5D5D;
}
.box-header .box-handler{
    background: transparent;
    color: #C73935;
}
.box-header .box-handler:hover{
    color: #FFF;
    background: #5D5D5D;
}

/* MODAL */
.modal .modal-content,
.cu-modal .cu-dialog-content{
    border-radius: 0px;
    background-color: #f2f2f2;
}
.modal .modal-header{
    background: #5D5D5D;
    padding: 8px;
    color: #FFF;
    font-weight: bold;
    border: 0;
}
.cu-modal .cu-dialog-header{
    background: #5D5D5D;
    color: #FFF;
}
.modal .modal-body{
    padding: 15px;
}
.modal .modal-footer{
    border-color: rgba(0,0,0,0.1);
    padding: 10px 15px;
}
.cu-modal .cu-content-footer{
    border-top: 1px solid rgba(0,0,0,0.1);
}
.container{
    width: 98%;
}

/* BUTTONS AND LABELS */
.btn{
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border: 1px solid transparent;
}
.label{
    border-radius: 0;
}
.btn-default, .label-default{
    background: #FFF;
    border-color: transparent;
    color: #5D5D5D;
}
.btn-default:hover{
    background-color: #f7f7f7;
    border-color: transparent;
    color: #545454;
}
.btn-primary, .label-primary{
    background: #5D5D5D;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background: #464646;
    border-color: transparent;
}

.btn-info:hover{
    border-color: transparent;
}
.btn-warning:hover{
    border-color: transparent;
}
.btn-danger:hover{
    border-color: transparent;
}
.btn-link,
.btn-link:visited,
.btn-link:active{
    box-shadow: none;
    color: #C73935;
}
.btn-link:hover{
    color: #000;
}

/* FORMS */
.form-control{
    border-radius: 0;
    padding: 3px 5px;
}
.form-control:focus {
    border-color: #9A9A9A;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(197, 197, 197, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(197, 197, 197, .6);
}
.form-control::-moz-placeholder {
    color: #B0B0B0;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #B0B0B0;
}
.form-control::-webkit-input-placeholder {
    color: #B0B0B0;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.input-group-btn .btn{
    box-shadow: none!important;
}

/* TABLES */
table{
    border: 1px solid rgba(0,0,0,0.1);
    background: #FFF;
}
table tbody > tr > td,
.table tbody > tr > td{
    border-width: 0;
}
table th{
    font-size: 1.1em;
    color: #000;
    font-weight: normal;
}
table > thead > tr > th,
.table > thead > tr > th{
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
table > tfoot > tr > th,
.table > tfoot > tr > th{
    border-top: 1px solid rgba(0,0,0,0.05);
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background: #E8E9E6;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.table-bordered,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td{
    border-width: 1px;
}
.table-hover > tbody > tr > td,
.table-hover > tbody > tr > th{
    -webkit-transition: background-color 250ms ease;-moz-transition: background-color 250ms ease;-ms-transition: background-color 250ms ease;-o-transition: background-color 250ms ease;transition: background-color 250ms ease;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #F0F0F0;
}

/* TABS */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #FFF;
    color: #333;
    font-weight: bold;
}

.nav-tabs > li > a{
    border-radius: 0;
    color: #5d5d5d;
}
.tab-content{
    background: #FFF;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
}
.nav-pills > li > a{
    border-radius: 0;
    color: #5D5D5D;
}
.nav-pills > li > a:hover,
.nav-tabs > li > a:hover{
    background: #e1e1e1;
    color: #5D5D5D;
}
.nav-pills > li.active > a{
    background-color: #5D5D5D;
}
.nav-pills > li.active > a:hover{
    background: #464646;
}

/* ALERTS */
.alert {
    text-shadow: none;
    border-radius: 0;
    border: 0;
    border: 1px solid rgba(0,0,0,0.1);
}

/* OTHER CONTROLS */
.img-thumbnail{
    border-radius: 0;
}
hr{
    border-top: 1px solid rgba(0,0,0,0.1);
}
.text-primary{ color: #000;}
.bg-primary{ background-color: #5d5d5d; color: #FFF;}
code{
    border-radius: 0;
    background-color: #DBDBDB;
    color: #676767;
}
pre{
    border-radius: 0;
    background: #EDEDED;
    color: #676767;
}

.installed-item .name > a{
    font-weight: normal;
}
.installed-item .version{
    font-size: 12px;
    color: #666;
}
.installed-item > .options > a{
    color: #757575;
}
.installed-item > .options > a:hover{
    color: #C73935;
}