# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Prepros files
prepros.cfg

# Windows shortcuts
*.lnk
*.DS_Store

# PHPStorm projects
.idea/

*/prepros-6.config

src/css/
docs/_build/
