/* Voy-Boy */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=latin,latin-ext);
body{
    background: #363635;
    font-family: "Roboto";
    color: #DCDDCD;
}
a{
    color: #83BF17;
}
a:hover{
    color: #F15D58;
    text-decoration: none;
}
.cu-titlebar{
    background: #83BF17; /* Old browsers */
    color: #FFF;
}
.xo-blackbar{
    background-color: #1b1b1b;
    border-color: #252525;
    box-shadow:inset 0 1px 0 0 #6B6B6B;
    -moz-box-shadow:inset 0 1px 0 0 #6B6B6B;
    -webkit-box-shadow:inset 0 1px 0 0 #6B6B6B;
    -o-box-shadow:inset 0 1px 0 0 #6B6B6B;
}

.dropdown-menu{
    box-shadow: 0 3px 3px rgba(0,0,0,0.175);
    border: 0;
    border-radius: 0;
    background: #363635;
}
#xo-menubar {
    background: #222;
    border-color: transparent;
}
#xo-menubar .navbar-collapse{
    border: 0;
}
#xo-menubar .navbar-brand{
    padding: 14px 15px;
}
#xo-menubar .navbar-nav > li > a,
#xo-menubar .navbar-nav .open .dropdown-menu a{
    color: #83BF17;
}
#xo-menubar .navbar-nav .open a,
#xo-menubar .navbar-nav .open .dropdown-menu{
    background-color: #222;
    color: #83BF17;
    border-radius: 0;
}
#xo-menubar .navbar-nav .active.open a,
#xo-menubar .navbar-nav .active.open .dropdown-menu{
    background-color: #F15D58;
    border-radius: 0;
}
#xo-menubar .navbar-nav .open .dropdown-menu{
    box-shadow: 0;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
}
#xo-menubar .navbar-nav .open .dropdown-menu a{
    color: #7b7b7b;
}
#xo-menubar .navbar-nav .open .dropdown-menu a:hover{
    background-color: #83BF17;
    color: #222;
}
#xo-menubar li.divider{
    background: rgba(255,255,255,0.1);
}

#xo-toolbar{
    border-color: transparent;
}
#xo-toolbar a{
    color: #FFF;
}
#xo-toolbar li > a:hover{
    background: #8EC42D;
    background: rgba(255,255,255,0.1);
}
#xo-toolbar li li{
    font-size: 0.9em;
}
#xo-toolbar .navbar-nav .open a,
#xo-toolbar .navbar-nav .open .dropdown-menu{
    background-color: #222; /*#E94C6F;*/
    border-radius: 0;
}
#xo-toolbar .dropdown-menu a:hover{
    background: rgba(0,0,0,0.3);
}
#xo-toolbar li.divider{
    background: rgba(255,255,255,0.1);
}

.dropdown-submenu .dropdown-menu{
     border-radius: 0;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.open > .dropdown-menu {
     display: block;
}

#rmc-toolbar{
    position: fixed;
    top: 87px; left: 0; right: 0;
    background: #3F3F3E;
    z-index: 1000;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
#rmc-toolbar > .navbar-collapse{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0;
    min-height: 30px;
}
#rmc-toolbar .nav > li button{
    padding: 5px 10px;
    text-align: center;
    border: 0;
    color: #83BF17;
    background: transparent;
}
#rmc-toolbar .nav > li button > i{
    display: block;
    text-align: center;
    margin: 0 auto;
}
#rmc-toolbar .nav > li button > span.tool-icon{
    display: block;
    width: 32px; height: 32px;
    background-size: 32px 32px;
    font-size: 32px;
    margin: 0 auto 3px auto;
}
#rmc-toolbar .nav > li button > span > img{
    width: 32px;
    height: 32px;
}
#rmc-toolbar .btn-group.open .dropdown-toggle{
    box-shadow: none;
    background: #F15D58;
    color: #FFF;
}
#rmc-toolbar .dropdown-menu{
    background: #F15D58;
    margin: 0;
}
#rmc-toolbar .dropdown-menu > li > a{
    color: #FFF;
}
#rmc-toolbar .dropdown-menu > li > a:hover{
    background: rgba(0,0,0,0.3);
}

#xo-menubar .navbar-nav > .active > a,
#xo-menubar .navbar-nav > .active.open > a {
    background-color: #F15D58;
    color: #FFF;
}
#xo-menubar .navbar-nav > .active.open .dropdown-menu a{
    color: #FFF;
}
#xo-toolbar .navbar-nav .active > a,
#xo-toolbar .navbar-nav .active.open > a {
    background-color: #F15D58!important;
}

/* BREADCRUMB */
.cu-breadcrumb-container ul{
    background: #F15D58;
    color: #FDE3E3;
}
.cu-breadcrumb-container ul li a,
.cu-breadcrumb-container ul li:nth-child(1) a{
    color: #FDE3E3;
}
.cu-breadcrumb-container ul li.active{
    color: #FFF;
}
.cu-breadcrumb-container .breadcrumb-puller{
    background: #F15D58;
    color: #FFF;
}
.breadcrumb>li+li:before{
    color: #FDE3E3;
}

/* Dashboard boxes */
.cu-box{
    background-color: #262625;
    background-color: rgba(0,0,0,0.3);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3),inset -1px -1px 1px rgba(255,255,255,0.1);
}
.box-header{
    color: rgba(255,255,255,0.5);
}
.box-header .box-handler{
    background: transparent;
    color: #545453;
}
.box-header .box-handler:hover{
    color: #83BF17;
}
.cu-box .box-content{
    color: #DCDDCD;
}

/* MODAL */
.modal .modal-content,
.cu-modal .cu-dialog-content, .modal-content{
    border-radius: 0;
    background-color: #363635;
}
.modal .modal-header{
    background: #83BF17;
    padding: 8px;
    color: #FFF;
    font-weight: bold;
    border: 0;
}
.modal .modal-body{
    padding: 15px;
}
.modal .modal-footer{
    border-color: rgba(255,255,255,0.1);
}
.cu-modal .cu-content-footer{
    border-top: 1px solid rgba(255,255,255,0.1);
}
.container{
    width: 98%;
}

/* BUTTONS AND LABELS */
.btn{
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border: 1px solid transparent;
}
.label{
    border-radius: 0;
}
.btn-default, .label-default{
    background: #262625;
    border-color: transparent;
    color: #DCDDCD;
}
.btn-default:hover{
    background-color: #20201F;
    border-color: #1A1A19;
    color: #DCDDCD;
}
.btn-primary, .label-primary{
    background: #83BF17;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background: #6FA214;
    border-color: transparent;
}
.btn-info, .label-info{
    background-color: #0ECAFF;
}
.btn-info:hover{
    background-color: #0CACD9;
    border-color: transparent;
}
.btn-warning, .label-warning{
    background-color: #FF5318;
}
.btn-warning:hover{
    background-color: #D94614;
    border-color: transparent;
}
.btn-danger, .label-danger{
    background: #D9221C;
}
.btn-danger:hover{
    background-color: #B81D18;
}
.btn-success, .label-success{
    background: #6FB556;
}
.btn-link,
.btn-link:visited,
.btn-link:active{
    box-shadow: none;
    color: #83BF17;
}
.btn-link:hover{
    color: #F15D58;
}

/* FORMS */
.form-control,
.input-group-addon{
    background-color: #363635;
    border: 1px solid #20201F;
    color: #999;
}
.form-control{
    background-color: #262625;
    border-radius: 0;
    padding: 3px 5px;
}
.form-control:focus {
    border-color: #83BF17;
    color: #CCC;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(131, 191, 23, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(131, 191, 23, .6);
}
.form-control::-moz-placeholder {
    color: #555;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #555;
}
.form-control::-webkit-input-placeholder {
    color: #555;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.input-group-btn .btn{
    box-shadow: none!important;
    border-color: rgba(0,0,0,0.1);
}

/* TABLES */
table{
    background: #262625;
    border: 0;
}
table td{
    border: 0!important;
}
table th{
    background: #F15D58;
    color: #FFF;
    font-weight: normal;
    border-bottom: 1px solid rgba(0,0,0,0.05)!important;
    font-size: 1.1em;
}
table > tbody > tr:nth-child(odd) > td,
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background: rgba(255,255,255,0.05);
}
.table-bordered,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td{
    border-color: #262625;
}
.table-hover > tbody > tr > td,
.table-hover > tbody > tr > th{
    -webkit-transition: background-color 250ms ease;-moz-transition: background-color 250ms ease;-ms-transition: background-color 250ms ease;-o-transition: background-color 250ms ease;transition: background-color 250ms ease;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: rgba(0,0,0,0.4);
}

/* TABS */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #262625;
    color: #FFF;
    border: 0;
}
.nav-tabs{
    border-bottom: 1px solid #262625;
}
.nav-tabs > li > a{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid transparent;
}
.tab-content{
    background: #262625;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-top: 0;
}
.nav-pills > li > a{
    border-radius: 0;
}
.nav-pills > li > a:hover,
.nav-tabs > li > a:hover{
    background: #F15D58;
    color: #FFF;
    border-bottom-color: #262625;
}
.nav-pills > li.active > a{
    background-color: #83BF17;
}
.nav-pills > li.active > a:hover{
    background: #598210;
}

/* ALERTS */
.alert {
    text-shadow: none;
    border-radius: 0;
    border: 0;
    border: 1px solid rgba(0,0,0,0.1);
}
.alert-info{
    background: #84E4FF;
    color: #076782;
}
.alert-success{
    background: #B6D9A9;
    color: #4B7B3A;
}
.alert-warning {
    background: #FFC089;
    color: #822A0C;
}
.alert-danger {
    background: #EC8E8B;
    color: #6F110E;
}

/* OTHER CONTROLS */
.img-thumbnail{
    border-radius: 0;
}
hr{
    border-top: 1px solid rgba(255,255,255,0.3);
}
.text-info{color: #0ECAFF;}
.text-warning{color: #FF5318;}
.text-primary{ color: #83BF17;}
.text-success{color: #6FB556;}
.text-danger{color: #D9221C;}
.bg-primary{ background-color: #83BF17; color: #FFF;}
.bg-info{ background-color: #0ECAFF; color: #FFF; }
.bg-warning{ background-color: #FF5318; color: #FFF; }
.bg-danger{ background-color: #D9221C; color: #FFF; }
.bg-success{ background-color: #6FB556; color: #FFF; }
code{
    border-radius: 0;
    background-color: #262625;
    color: #F15D58;
}
pre{
    border-radius: 0;
    background: #262625;
    color: #A68F58;
    border: 1px solid rgba(0,0,0,0.2);
}

.installed-item > .options > a{
    color: #626262;
    color: rgba(255,255,255,0.3);
}
.installed-item > .options > a:hover{
    color: #83BF17;
}
.well{
    background-color: #252525;
}

.support-me + .box-footer > a{
    background: #83BF17;
    color: #fff;
    transition: all ease 250ms;
}
.support-me + .box-footer > a:hover{
    background-color: #363635;
}
