/* Veritas */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
body{
    background: #F0F1EE;
    font-family: 'Lato', sans-serif;
    color: #222;
}
a{
    color: #1352A2;
}
a:hover{
    color: #FB6964;
    text-decoration: none;
}
.cu-titlebar{
    background: #333332; /* Old browsers */
    color: #FFF;
}
.xo-blackbar{
    background-color: #1b1b1b;
    border-color: #252525;
    box-shadow:inset 0 1px 0 0 #6B6B6B;
    -moz-box-shadow:inset 0 1px 0 0 #6B6B6B;
    -webkit-box-shadow:inset 0 1px 0 0 #6B6B6B;
    -o-box-shadow:inset 0 1px 0 0 #6B6B6B;
}

.dropdown-menu{
    box-shadow: 0 3px 3px rgba(0,0,0,0.175);
    border: 0;
    border-radius: 0;
    background: #F0F1EE;
}
#xo-menubar {
    background: #1352A2;
    border-color: transparent;
}
#xo-menubar .navbar-collapse{
    border: 0;
}
#xo-menubar .navbar-brand{
    padding: 14px 15px;
}
#xo-menubar .navbar-nav > li > a,
#xo-menubar .navbar-nav .open .dropdown-menu a{
    color: #F0F1EE;
}
#xo-menubar .navbar-nav .open a,
#xo-menubar .navbar-nav .open .dropdown-menu{
    background-color: #F0F1EE;
    color: #333332;
    border-radius: 0;
}
#xo-menubar .navbar-nav .active.open a,
#xo-menubar .navbar-nav .active.open .dropdown-menu{
    background-color: #FFD464;
    border-radius: 0;
}
#xo-menubar .navbar-nav .open .dropdown-menu{
    box-shadow: 0;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
}
#xo-menubar .navbar-nav .open .dropdown-menu a{
    color: #5D5D5D;
}
#xo-menubar .navbar-nav .open .dropdown-menu a:hover{
    background-color: #1352A2;
    color: #FFF;
}
#xo-menubar li.divider{
    background: rgba(0,0,0,0.1);
}

#xo-toolbar{
    border-color: transparent;
}
#xo-toolbar a{
    color: #F0F1EE;
}
#xo-toolbar .navbar-collapse .nav > li > a:hover{
    background-color: #FFD464;
    color: #333332;
}
#xo-toolbar li li{
    font-size: 0.9em;
}
#xo-toolbar .navbar-nav .open a,
#xo-toolbar .navbar-nav .open .dropdown-menu{
    background-color: #FFD464; /*#E94C6F;*/
    color: #333332!important;
    border-radius: 0;
}
#xo-toolbar .dropdown-menu a:hover{
    background: #1352A2;
    color: #FFF!important;
}
#xo-toolbar li.divider{
    background: rgba(0,0,0,0.1);
}

.dropdown-submenu .dropdown-menu{
     border-radius: 0;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#5D5D5D;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.open > .dropdown-menu {
     display: block;
}

#rmc-toolbar{
    position: fixed;
    top: 87px; left: 0; right: 0;
    background: #F7F7F6;
    z-index: 1000;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
#rmc-toolbar > .navbar-collapse{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0;
    min-height: 30px;
}
#rmc-toolbar .nav > li button{
    padding: 5px 10px;
    text-align: center;
    border: 0;
    color: #333332;
    background: transparent;
}
#rmc-toolbar .nav > li button:hover{
    background-color: #F0F1EE;
    color: #1352A2;
}
#rmc-toolbar .nav > li button > i{
    display: block;
    text-align: center;
    margin: 0 auto;
}
#rmc-toolbar .nav > li button > span.tool-icon{
    display: block;
    width: 32px; height: 32px;
    background-size: 32px 32px;
    font-size: 32px;
    margin: 0 auto 3px auto;
}
#rmc-toolbar .nav > li button > span > img{
    width: 32px;
    height: 32px;
}
#rmc-toolbar .btn-group.open .dropdown-toggle{
    box-shadow: none;
    background: #1352A2;
    color: #FFF;
}
#rmc-toolbar .dropdown-menu{
    background: #1352A2;
    margin: 0;
}
#rmc-toolbar .dropdown-menu > li > a{
    color: #FFF;
}
#rmc-toolbar .dropdown-menu > li > a:hover{
    background: #FFD464;
    color: #333332;
}

#xo-menubar .navbar-nav > .active > a,
#xo-menubar .navbar-nav > .active.open > a {
    background-color: #FFD464;
    color: #333332;
}
#xo-menubar .navbar-nav > .active.open .dropdown-menu a{
    color: #333332;
}
#xo-menubar .navbar-nav > .active.open .dropdown-menu a:hover{
    color: #FFF;
}
#xo-toolbar .navbar-nav .active > a,
#xo-toolbar .navbar-nav .active.open > a {
    background-color: #F15D58!important;
}

/* BREADCRUMB */
.cu-breadcrumb-container ul{
    background: #FB6964;
    color: #F0F1EE;
}
.cu-breadcrumb-container ul li a,
.cu-breadcrumb-container ul li:nth-child(1) a{
    color: #F0F1EE;
}
.cu-breadcrumb-container ul li.active{
    color: #FFD464;
}
.cu-breadcrumb-container .breadcrumb-puller{
    background: #FB6964;
    color: #F0F1EE;
}
.breadcrumb>li+li:before{
    color: #F0F1EE;
}

/* Dashboard boxes */
.cu-box{
    background-color: #FFF;
}
.box-header{
    color: #5D5D5D;
}
.box-header .box-handler{
    background: #FFF;
    color: #5D5D5D;
    border-left: 1px solid rgba(0,0,0,0.1);
}
.box-header .box-handler:hover{
    background-color: #1352A2;
    color: #FFF;
}

/* MODAL */
.modal .modal-content,
.cu-modal .cu-dialog-content,.modal-content{
    border-radius: 0;
    background-color: #F0F1EE;
}
.modal .modal-header,
.cu-modal .cu-dialog-header{
    background: #1352A2;
    font-weight: bold;
    color: #FFF;
}
.modal .modal-header h4{
    font-size: 18px;
}
.cu-modal .cu-content-footer,
.modal .modal-footer{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 10px 15px;
}
.container{
    width: 98%;
}

/* BUTTONS AND LABELS */
.btn{
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border: 1px solid transparent;
}
.label{
    border-radius: 0;
}
.btn-default, .label-default{
    background: #FFF;
    border-color: transparent;
    color: #5D5D5D;
}
.btn-default:hover{
    background-color: #F0F1EE;
    border-color: #E7E8E5;
    color: #5D5D5D;
}
.btn-primary, .label-primary{
    background: #1352A2;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background: #2E66AD;
    border-color: transparent;
}
.btn-info, .label-info{
    background-color: #0ECAFF;
}
.btn-info:hover{
    background-color: #0CACD9;
    border-color: transparent;
}
.btn-warning, .label-warning{
    background-color: #FF5318;
}
.btn-warning:hover{
    background-color: #D94614;
    border-color: transparent;
}
.btn-danger, .label-danger{
    background: #D9221C;
}
.btn-danger:hover{
    background-color: #B81D18;
}
.btn-success, .label-success{
    background: #2BC117;
}
.btn-success:hover{
    background-color: #25A414;
    border-color: transparent;
}
.btn-link,
.btn-link:visited,
.btn-link:active{
    box-shadow: none;
    color: #1352A2;
}
.btn-link:hover{
    color: #FB6964;
}

/* FORMS */
.form-control,
.input-group-addon{
    color: #5d5d5d;
}
.form-control{
    border-radius: 0;
    padding: 3px 5px;
}
.form-control:focus {
    border-color: #FFD464;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 212, 100, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 212, 100, .6);
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.input-group-btn .btn{
    box-shadow: none!important;
    border-color: rgba(0,0,0,0.1);
}

/* TABLES */
table{
    border: 1px solid rgba(0,0,0,0.1);
    background: #FFF;
}
table tbody > tr > td,
.table tbody > tr > td{
    border-width: 0;
}
table th{
    font-weight: bold;
    font-size: 1.1em;
}
table > thead > tr > th,
.table > thead > tr > th{
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
table > tfoot > tr > th,
.table > tfoot > tr > th{
    border-top: 1px solid rgba(0,0,0,0.05);
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background: #E8E9E6;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.table-bordered,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td{
    border-width: 1px;
}
.table-hover > tbody > tr > td,
.table-hover > tbody > tr > th{
    -webkit-transition: background-color 250ms ease;-moz-transition: background-color 250ms ease;-ms-transition: background-color 250ms ease;-o-transition: background-color 250ms ease;transition: background-color 250ms ease;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #F7F7F6;
}

/* TABS */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #FFF;
    color: #333332;
}
.nav-tabs > li > a{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid transparent;
}
.nav-tabs > li.active > a{
    font-weight: bold;
}
.tab-content{
    background: #FFF;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.1);
    border-top: 0;
}
.nav-pills > li > a{
    border-radius: 0;
}
.nav-pills > li > a:hover,
.nav-tabs > li > a:hover{
    background: #FFD464;
    color: #333332;
}
.nav-pills > li.active > a{
    background-color: #1352A2;
}
.nav-pills > li.active > a:hover{
    background: #2E66AD;
}

/* ALERTS */
.alert {
    text-shadow: none;
    border-radius: 0;
    border: 0;
    border: 1px solid rgba(0,0,0,0.1);
}

/* OTHER CONTROLS */
.img-thumbnail{
    border-radius: 0;
}
hr{
    border-top: 1px solid rgba(0,0,0,0.1);
}
.text-info{color: #0ECAFF;}
.text-warning{color: #FF5318;}
.text-primary{ color: #1352A2;}
.text-success{color: #2BC117;}
.text-danger{color: #D9221C;}
.bg-primary{ background-color: #1352A2; color: #FFF;}
.bg-info{ background-color: #0ECAFF; color: #FFF; }
.bg-warning{ background-color: #FF5318; color: #FFF; }
.bg-danger{ background-color: #D9221C; color: #FFF; }
.bg-success{ background-color: #2BC117; color: #FFF; }
code{
    border-radius: 0;
    background-color: #DEDFDC;
    color: #FB6964;
}
pre{
    border-radius: 0;
    background: #DEDFDC;
    color: #333332;
    border: 1px solid rgba(0,0,0,0.2);
}

.installed-item > .options > a{
    color: #626262;
    color: rgba(255,255,255,0.3);
}
.installed-item > .options > a:hover{
    color: #1352A2;
}

.support-me + .box-footer > a{
    background: #FB6964;
    color: #fff;
    transition: all ease 250ms;
}
.support-me + .box-footer > a:hover{
    background-color: #1352A2;
}
#xo-context-help .title{
    background-color: #fb6964;
    color: #FFF;
}