/*
    --------------
      BREADCRUMB
    -------------- */
.rmc-breadcrumb{
  .breadcrumb-item{
    display: flex;
  }
  a{
    max-width: pxToRem(200);
    svg{
      width: pxToRem(16);
      height: pxToRem(16);
      fill: currentColor;
      vertical-align: text-top;
    }

  }
}