#li-content {
  transition: ease all 300ms;
  position: relative;
  padding-top: 10px;

  &.with-breadcrumb {
    padding-top: pxToRem(20);

    @include media-breakpoint-down(sm){
      padding-top: 0;
    }
  }

  /*
  -------------------
    SECTIONS TITLES
  ------------------- */
  .cu-section-title {
    display: none;
  }

  > .container-fluid {
    padding-top: 50px;
    position: relative;
  }

  /*
   TABS
  ------------------------*/
  .nav-tabs:not(.nav-tabs-color) {
    > li.active > a {
      background-color: $lithium-tab-active-bg;
      color: $lithium-tab-active-color;
      border-bottom-color: $theme-main-color;
    }
  }

  .tab-content {
    background-color: $lithium-tab-content-bg;
    padding: $grid-gutter-width * 2;

    &.no-padding {
      padding: $grid-gutter-width 0 0;
    }
  }

  .no-margin {
    margin: 0;
  }

}

#he-footer {
  padding: $grid-gutter-width 0;
  font-size: 0.9em;

  a {
    color: #000;

    &:hover {
      color: $theme-main-color;
    }
  }
}