#li-main-content{
  margin-left: $lithium-sidebar-collapsed-width;
  padding: pxToRem(10) 40px 40px;
  margin-top: pxToRem(94);
  position: relative;
  transition: ease margin-left 300ms;
  z-index: 1;

  .show-sidebar &{
    margin-left: $lithium-sidebar-width;
  }

  @include media-breakpoint-down(xl){
    margin-left: 0;
    padding: pxToRem(10) 0 pxToRem(40);

    .show-sidebar &{
      margin-left: pxToRem(40);
      margin-right: pxToRem(40);
      padding: pxToRem(10) 0 pxToRem(40);
    }
  }

  @include media-breakpoint-down(sm){
    margin-left: 0;
    padding: pxToRem(10) 0 pxToRem(20);

    .show-sidebar &{
      margin-left: pxToRem(20);
      margin-right: pxToRem(20);
      padding: pxToRem(10) 0 pxToRem(20);
    }
  }
}