#li-sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $lithium-sidebar-collapsed-width;
  background-color: $lithium-sidebar-bg;
  transition: ease all 300ms;
  box-shadow: 2px 0 25px transparentize($black, 0.95);
  overflow: hidden;

  > .theme-logo{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: pxToRem(20) pxToRem(15);

    .logo{
      display: block;
      width: 60%;
      height: 100%;

      img, svg{
        max-width: 100%;
        max-height: pxToRem(50);
      }
    }

    .sidebar-toggle{
      a{
        border: 2px solid $primary;
        display: block;
        width: pxToRem(20);
        height: pxToRem(20);
        padding: 0;
        border-radius: 50%;
        position: relative;
        box-shadow: none;

        &:after{
          content: '';
          display: none;
          width: pxToRem(10);
          height: pxToRem(10);
          background-color: $primary;
          border-radius: 50%;
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%, -50%);

          .show-sidebar &{
            display: block;
          }
        }
      }
    }
  }

  > .menu-wrapper{
    position: absolute;
    top: pxToRem(78);
    bottom: 0;
    left: 0; right: 0;

    > .module-search{
      padding: 10px 15px;
      margin-bottom: pxToRem(20);
      //background: $lithium-sidebar-search-bg;

      > .form-control{
        border-radius: 50px;
        background: url(../images/search.png) no-repeat 10px;
        background-color: $lithium-sidebar-search-input;
        color: $lithium-sidebar-search-color;
        border: 1px solid rgba(0,0,0,0.05);
        box-shadow: none;
        transition: ease all 250ms;
        padding-left: 30px;

        &::-webkit-input-placeholder{
          color: $lithium-sidebar-search-pholder!important;
        }

        &::-moz-placeholder{
          color: $lithium-sidebar-search-pholder!important;
          opacity: 1;
        }

        &:-ms-input-placeholder{
          color: $lithium-sidebar-search-pholder!important;
        }

        &:focus{
          border: 1px solid rgba(0,0,0,0.1);
          background-color: $lithium-sidebar-search-focus-bg;
          color: $lithium-sidebar-search-focus-color;
        }
      }
    }

    > .sidebar-menu{
      position: relative;
      height: 100%;

      .menu-heading{
        font-size: 0.85em;
        text-transform: uppercase;
        margin: 0;
        //border-bottom: $lithium-sidebar-menu-border;

        > a{
          display: block;
          padding: pxToRem(10) pxToRem(15);
          color: $lithium-sidebar-heading-color;
          margin: 0 pxToRem(15);

          &:hover{
            text-decoration: none;
            color: darken($lithium-sidebar-heading-color, 10%);
          }
        }

      }

      ul{
        list-style: none;
        margin: 0;
        padding: 0 0 10px 0;
      }

      > ul{

        margin-bottom: 10px;

        /* ROOT MENU */
        > li{
          //border-bottom: $lithium-sidebar-menu-border;

          > a {
            display: block;
            padding: pxToRem(9) pxToRem(15);
            margin: 0 pxToRem(15);
            font-size: pxToRem(15);
            color: $lithium-sidebar-menu-color;
            transition: ease all 200ms;
            position: relative;

            svg, img{
              width: pxToRem(20);
              height: pxToRem(20);
              margin-right: pxToRem(15);
              fill: currentColor;
            }

            svg:last-child{
              width: pxToRem(16);
              height: pxToRem(16);
              color: currentColor;
              fill: currentColor;
              margin: 0;
            }

            .menu-title{
              transition: ease width 250ms;
              width: 0;

              .show-sidebar &{
                width: auto;
              }
            }

            &:hover{
              background-color: $lithium-sidebar-menu-hover-bg;
              color: $lithium-sidebar-menu-hover;
              text-decoration: none;
              padding-left: pxToRem(26);

              > .caret{
                border-top-color: $lithium-sidebar-menu-hover;
              }

            }

            &.open{
              svg:last-child{
                transform: rotate(90deg);
              }
            }

          }

          &.active > a{
            color: $lithium-sidebar-active-color !important;
            background-color: $lithium-sidebar-active-bg;

            > .cu-icon{
              @include cu-icon-color($lithium-sidebar-active-color);
              svg{
                fill: $lithium-sidebar-active-color!important;
              }
            }

            > .caret{
              transition: ease all 200ms;
            }
          }

          /* SUBMENU */
          > ul{
            background-color: $lithium-sidebar-submenu-bg;
            //border-top: $lithium-sidebar-menu-border;
            padding: 0;
            display: none;
            font-size: pxToRem(14);

            > li{
              margin-left: 25px;
              border-left: 1px solid #DBDFE6;
              position: relative;

              &:before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                width: pxToRem(10);
                height: pxToRem(10);
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border: 1px solid #DBDFE6;
                background-color: $lithium-sidebar-bg;
              }

              > a{
                display: block;
                padding: pxToRem(8) pxToRem(20) pxToRem(8) pxToRem(10);
                font-weight: 400;
                color: $lithium-sidebar-menu-color;
                position: relative;
                transition: ease all 200ms;

                svg, img{
                  width: pxToRem(16);
                  height: pxToRem(16);
                  margin-right: pxToRem(10);
                }

                &:hover{
                  color: $lithium-sidebar-menu-hover;
                  > .cu-icon{
                    @include cu-icon-color($lithium-sidebar-menu-hover);
                  }
                }
              }

            }

          }

        }

      }

    }

  }

  .show-sidebar &{
    width: $lithium-sidebar-width;
  }
}