#li-toolbar{
  .tools{
    margin: 0;
    
    > li{
      margin-left: pxToRem(3);

      a{
        color: $lithium-toolbar-color;
        padding: pxToRem(8) pxToRem(15);
        background-color: $lithium-toolbar-bg;
        border-radius: $border-radius;
        @include lithium-box-shadow(sm);
        transition: ease all 250ms;

        &:hover{
          background-color: $lithium-toolbar-hover-bg;
          color: $lithium-toolbar-hover-color;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .tools{
      > li {
        a{
          padding: pxToRem(6) pxToRem(10);
          height: pxToRem(32);
          svg{
            width: pxToRem(16);
            height: pxToRem(16);
            margin-right: pxToRem(10);
            fill: currentColor;
          }
        }
      }
    }
  }
}