#li-toolbar{
  padding: pxToRem(15) 0;
  
  .tools{
    margin: 0;
    
    > li{
      margin-left: pxToRem(3);

      a{
        color: $lithium-toolbar-color;
        padding: pxToRem(12) pxToRem(15);
        background-color: $lithium-toolbar-bg;
        border-radius: $border-radius;
        @include lithium-box-shadow(md);
        transition: ease all 250ms;

        .caption{
          display: none;
        }

        svg{
          width: pxToRem(20);
          height: pxToRem(20);
          fill: $lithium-toolbar-color;
        }

        &:hover{
          background-color: $lithium-toolbar-hover-bg;
          color: $lithium-toolbar-hover-color;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: pxToRem(10) 0;
    .tools{
      > li {
        a{
          padding: pxToRem(6) pxToRem(10);
          height: pxToRem(32);
          svg{
            width: pxToRem(16);
            height: pxToRem(16);
            margin-right: pxToRem(10);
            fill: currentColor;
          }

          .caption{
            display: block;
          }
        }
      }
    }
  }
}