.blocks-nav {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.blocks-nav .nav-pills {
  margin-bottom: 10px;
}

.rmc-position-item {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);

  > .cu-icon {
    float: right;
    margin-top: 0px;
    margin-right: 10px;
    display: none;
  }

  ol {
    list-style: none;
    padding: 5px;
    margin: 0;
  }

  li {
    border: 1px solid $border-color;
    border-radius: 6px;
    margin: 0 0 6px 0;

    a{
      padding: pxToRem(5);
    }
  }
}

.rmc-position-item ol li > .item-controls,
.dd-dragel .item-controls {
  background: $white;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 6px;
}

.dd-dragel .item-controls,
.dd-dragel li {
  opacity: 0.8;
  background: #FFF !important;
}

.rmc-position-item ol li .dd-handle,
.dd-dragel .dd-handle {
  line-height: 30px;
  display: inline-block;
  padding: 0 5px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 1.1em;
  cursor: move;

  .cu-icon {
    @include cu-icon-size(16px);
    margin-right: 4px;
  }
}

.rmc-position-item ol li > .block-data,
.dd-dragel .block-data {
  line-height: 18px;
  padding: 5px;
  background: #fff;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.rmc-position-item ol li > .block-data > p {
  color: #666;
  margin: 0;
}

.rmc-position-item ol li svg {
  @include cu-icon-size(24px);
  fill: currentColor;
}

/* NESTABLE */
.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
  background: rgba(4, 164, 204, 0.3);
  border: 1px dashed rgba(0, 0, 0, 0.15);
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  line-height: 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  color: #222;
}

.tag {
  display: block;
  font-family: monospace;
}

.hidden-control {
  display: none;
}

.visible-control {
  display: block;
}

.rmc_blocks_options {
  margin-bottom: 20px;
}

/** Console log **/
#blocks-console {
  background: $lithium-blocks-console-bg;
  color: $lithium-blocks-console-color;
  border: 0;
  border-radius: 5px;
  padding: pxToRem(20);

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $font-family-monospace;

    li.console-item{
      &.info{
        color: $lithium-blocks-console-info;
      }
    }
  }
}

/*
AVAILABLE LIST
--------------------*/
.available-positions {
  width: calc(40% - 20px);
}

.available-list {
  //border-right: 1px solid rgba(0,0,0,0.1);
  background-color: $body-bg;
  border-radius: $border-radius;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 70vh;
}

#blocks-available {
  width: calc(60% - 40px);

  .new-module {
    position: relative;
    margin-bottom: pxToRem(15);
    padding-bottom: pxToRem(15);
    border-bottom: 1px solid $border-color;

    > h5 {
      font-weight: 600;
      margin: 0 0 10px 0;
      padding: 5px;
      //border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      svg{
        width: pxToRem(20);
        height: pxToRem(20);
        margin-right: pxToRem(10);
        fill: currentColor;
      }
    }

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;

      li {
        a {
          display: block;
          padding: $modal-header-padding-y $modal-header-padding-x;
          border: 1px solid $input-border-color;
          background-color: #FFF;
          font-weight: 600;
          border-radius: $border-radius;

          > small {
            display: block;
            font-weight: 400;
            color: $body-color;
          }

          &:hover {
            background-color: fade-out($primary, 0.9);
          }
        }
      }
    }
  }

}

#bk-messages {
  padding: 10px;
}

#bk-messages .alert {
  margin-bottom: 5px;
}

.bk-waiting {
  display: none;
  float: right;
  padding: 6px 6px 6px 26px;
  font-size: 0.9em;
  background: url(../images/wait.gif) no-repeat 6px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  font-style: italic;
  color: #666;
}

.description {
  display: block;
  padding: 3px 0;
  font-style: italic;
}

/** Settings  Form **/
#settings-blocker {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: fade-out($black, 0.5);
  z-index: 3100;
  overflow: auto;
  padding: pxToRem(40) 0;
}

#settings-loading {
  display: none;
  position: fixed;
  border-radius: 8px;
  background: $white;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  box-shadow: 0 0 20px fade-out($black, 0.8);
  z-index: 3102;

  svg{
    width: pxToRem(20);
    height: pxToRem(20);
    margin-right: pxToRem(10);
    fill: currentColor;
  }
}

#settings-form-window {
  display: none;
  position: absolute;
  top: pxToRem(40);
  left: pxToRem(20);
  right: pxToRem(20);
  margin-bottom: pxToRem(40);
  z-index: 3105;

  @include media-breakpoint-up(lg) {
    max-width: pxToRem(800);
    left: 50%;
    transform: translateX(-50%);
  }
}

#block-config-form{
  padding: pxToRem(30);

  @include media-breakpoint-up(md) {
    .multicolumn-options{
      > div{
        width: calc(100% / 3);

        &:first-child{
          padding-right: pxToRem(10);
        }

        &:last-child{
          padding-left: pxToRem(10);
        }

        &:nth-child(2){
          padding: 0 pxToRem(5);
        }
      }
    }
  }
}

#general-content .block-title {
  font-size: 24px !important;
  height: 40px !important;
  line-height: 40px;
}

.settings-form-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #f2f2f2;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.pre {
  font-family: "Courier New", courier, monospace;
  font-size: 1.1em;
  padding: 4px;
  background: #ebebeb;
}

.pre em {
  color: #c00;
  font-weight: bold;
}

.invisible-block .item-controls {
  background: $gray-100 !important;

  .cu-icon {
    @include cu-icon-size(24px);

    &.rmcommon-icon circle {
      opacity: 1;
      fill: #00FF33;
    }
  }
}

#editor-row button {
  margin: 5px 2px 0 0;
}
