@mixin box-variation($color, $text){

  .box-header{
    background-color: $color;
    color: $text;
    border-bottom-color: transparent;

    .box-title{
      color: $text;
    }

    .box-handler{
      color: rgba(red($text), green($text), blue($text), 0.3);
    }

    .box-handler:hover{
      color: $text;
    }

    + .box-content{
      padding-top: 20px;
    }

  }

  .box-content{

    > .nav-tabs{
      background-color: $color;

      > li{
        > a{
          color: fade($text, 60%);
          transition: ease all 250ms;

          &:hover{
            color: $text;
          }
        }
      }
    }

  }

  .box-footer{
    background-color: $panel-default-heading-bg;
    color: $panel-default-text;
  }

  &.box-solid{
    background-color: $color;
    color: $text;

    .box-header  + .box-content{
      padding-top: 0;
    }

    .box-content{

      *:not(.form-control) {
        color: rgba(red($text), green($text), blue($text), 0.7);
      }

      a{
        color: $text;

        &:hover{
          text-decoration: underline;
        }
      }

      > .nav-tabs > li.active > a{
        background-color: fade($text, 18%)!important;
        color: $text;
      }

      > .tab-content{
        background-color: fade($text, 18%)!important;
      }
    }

    .box-footer{
      background-color: $color;
      color: $text;

      a{
        color: $text;
        &:hover{
          text-decoration: underline;
        }
      }

    }
  }
}