@mixin box-variation($color_original, $text){
  $color: lighten($color_original, 25%);

  .box-header{
    background-color: $color;
    color: color-contrast($color);
    border-bottom-color: transparent;

    .box-title{
      color: color-contrast($color);
    }

    .box-handler{
      color: rgba(red(color-contrast($color)), green(color-contrast($color)), blue(color-contrast($color)), 0.3);
    }

    .box-handler:hover{
      color: color-contrast($color);
    }

    + .box-content{

    }

  }

  .box-content{

    > .nav-tabs{

      > li{
        > a{
          color: fade(color-contrast($color), 60%);
          transition: ease all 250ms;

          &:hover{
            color: color-contrast($color);
          }
        }
      }
    }

  }

  .box-footer{
    background-color: transparentize($color, 0.8);
    color: $color_original;
  }

  &.box-solid{
    background-color: $color;
    color: color-contrast($color);;

    .box-header  + .box-content{
      padding-top: 0;
    }

    .box-content{

      *:not(.form-control) {
        color: rgba(red(color-contrast($color)), green(color-contrast($color)), blue(color-contrast($color)), 0.7);
      }

      a{
        color: color-contrast($color);

        &:hover{
          text-decoration: underline;
        }
      }

      > .nav-tabs > li.active > a{
        background-color: fade(color-contrast($color), 18%)!important;
        color: color-contrast($color);;
      }

      > .tab-content{
        background-color: fade(color-contrast($color), 18%)!important;
      }
    }

    .box-footer{
      background-color: darken($color, 3%);
      color: color-contrast(darken($color, 3%));

      a{
        color: color-contrast($color);
        &:hover{
          text-decoration: underline;
        }
      }

    }
  }
}