@mixin options-variation($color){
  background-color: $color;
  color: color-contrast($color);

  &:hover{
    background-color: darken($color, 10%);
    color: color-contrast($color);
    transform: scale(1.1,1.1);
  }

  &.bordered{
    background-color: transparent;
    border: 1px solid $color;
    color: $color;

    &:hover{
      border: 1px solid darken($color, 10%);
      color: color-contrast($color);
      background-color: $color;
    }
  }

}