<{if $enable_comments_form}>
<div class="comments_form">
<form name="rmc_comment_form" id="rmc-comment-form" method="post" action="<{$cf.actionurl}>">
    <h2><{$cf.lang_title}></h2>
    <{if $cf.show_name}>
    <label for="comment-name" class="label"><{$cf.lang_name}></label>
    <input type="text" name="comment_name" id="comment-name" class="required" value="<{$cf.name}>" />
    <{/if}>
    <{if $cf.show_email}>
    <label for="comment-email" class="label"><{$cf.lang_email}></label>
    <input type="text" name="comment_email" id="comment-email" class="required email" value="<{$cf.email}>" />
    <{/if}>
    <{if $cf.show_url}>
    <label for="comment-url" class="label"><{$cf.lang_url}></label>
    <input type="text" name="comment_url" id="comment-url" class="url" value="<{$cf.url}>" />
    <{/if}>
    <label for="comment-text" class="label"><{$cf.lang_text}></label>
    <textarea name="comment_text" id="comment-text" class="required"><{$cf.text}></textarea>
    <input type="hidden" name="uri" value="<{$cf.uri}>" />
    <input type="hidden" name="params" value="<{$cf.params}>" />
    <input type="hidden" name="type" value="<{$cf.type}>" />
    <input type="hidden" name="object" value="<{$cf.object}>" />
    <input type="hidden" name="action" value="<{$cf.action}>" />
    <input type="hidden" name="update" value="<{$cf.update}>" />
    <{foreach item=field from=$cf.fields}>
    	<{$field}>
    <{/foreach}>
    <input type="submit" value="<{$cf.lang_submit}>" />
</form>
</div>
<{/if}>