.blocks-nav{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.blocks-nav .nav-pills{
    margin-bottom: 10px;
}
.rmc-position-item{
    min-width: 300px;
    width: 19%;
    border: 1px solid #2a2a2a;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    vertical-align: text-top;
    padding: 1px;
    background: rgba(0,0,0,0.1);
    margin: 0 5px 10px 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.rmc-position-item h3{
    margin: 0;
    padding: 5px;
    font-size: 1.1em;
    /*background-color: rgba(0,85,128,0.05);*/
}
.rmc-position-item h3 > img{
    float: right;
    margin-top: 5px;
    display: none;
}
.rmc-position-item ol{
    list-style: none;
    padding: 5px;
    margin: 0;
}
.rmc-position-item ol li{
    border: 1px solid #ddd;
    margin: 0 0 6px 0;
    background: #FFF;
}
.rmc-position-item ol li > .row-fluid > a{
    display: inline-block;
    line-height: 30px;
    padding: 0 7px;
    border-left: 1px solid #ddd;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
}
.rmc-position-item ol li > .row-fluid > a:last-child{
    border-radius: 0 0 0 2px;
}
.rmc-position-item ol li > .row-fluid > a:hover{
    background-color: rgba(255,255,255,0.5);
    text-decoration: none;
}
.rmc-position-item ol li > .item-controls{
    border-bottom: 1px solid #ddd;
    background: #ebebeb;
    color: #222;
}
.rmc-position-item ol li .dd-handle{
    line-height: 30px;
    display: inline-block;
    padding: 0 5px;
    width: 190px;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
    font-size: 1.1em;
    cursor: move;
}
.rmc-position-item ol li > .block-data{
    line-height: 18px;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
    padding: 5px;
}
.rmc-position-item ol li > .block-data > p{
    color: #666;
    margin: 0;
}
.rmc-position-item ol li i{
    font-size: 14px;
}

/* NESTABLE */
.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    line-height: 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    color: #222;
}

.disabled{
    font-style: italic;
    background: url(../images/modbk.png) no-repeat left;
    padding: 2px 0 2px 16px;
}
.tag{
    display: block;
    font-family: monospace;
}

.hidden-control{
    display: none;
}
.visible-control{
    display: block;
}

.rmc_blocks_options{
    margin-bottom: 20px;
}
/** Menus **/
.megamenu, #blocks-console{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    background: #fff;
    border-top: 12px solid #ebebeb;
    border-radius: 2px;
    z-index: 100;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 3px rgba(0,0,0,0.4);
}

.megamenu .column{
    overflow: hidden;
}

.megamenu .column ul li a{
    border: 1px solid #CCC;
}

.megamenu .column h3{
    margin: 0 0 5px 0;
    border-bottom: 1px solid #ddd;
    padding: 0 0 2px 0;
}

.menucont, #bk-messages{
    max-height: 300px;
    padding: 10px;
    overflow: auto;
    max-width: 580px;
}
#bk-messages .alert{
    margin-bottom: 5px;
}

.bk-waiting{
    display: none;
    float: right;
    padding: 6px 6px 6px 26px;
    font-size: 0.9em;
    background: url(../images/wait.gif) no-repeat 6px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    font-style: italic;
    color: #666;
}
.description{
    display: block;
    padding: 3px 0;
    font-style: italic;
}

/** Settings  Form **/
#settings-blocker{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: #000;
    background-color: rgba(255,255,255,0.9);
    z-index: 3100;
}
#settings-loading{
    display: none;
    position: fixed;
    width: 200px;
    height: 15px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #333;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -50px;
    font-style: italic;
    color: #999;
    border: 2px solid #999;
    box-shadow: 0 0 10px #333;
    -moz-box-shadow: 0 0 10px #333;
    z-index: 3102;
}
#settings-loading img{
    margin: 0 10px 0 0;
    float: left;
}

#settings-form-window{
    display: none;
    position: fixed;
    top: 0;
    left: 40px;
    right: 40px;
    bottom: 0;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-width: 0 1px;
    padding: 41px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    z-index: 3101;
}

#settings-form-window .title{
    position: absolute;
    top: 0; left: 0; right: 0;
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px;
    font-weight: bold;
    color: #2a2a2a;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    background-color: #ebebeb;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

#block-config-form{
    position: absolute;
}
#block-config-form .tab-content{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    padding: 0 10px;
    border: 0;
}

#general-content .block-title{
    font-size: 24px!important;
    height: 40px!important;
    line-height: 40px;
}

.settings-form-controls{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    padding: 10px;
    background: #f2f2f2;
    border-top: 1px solid rgba(0,0,0,0.05);
}

.settings-nav{
    padding: 5px 20px 0 20px!important;
    background: #f9f9f9;
    margin: 0 -10px 15px -10px!important;
    border-top: 1px solid rgba(255,255,255,0.3);
}

.pre{
    font-family: "Courier New", courier, monospace;
    font-size: 1.1em;
    padding: 4px;
    background: #ebebeb;
}
.pre em{color: #c00;font-weight: bold;}

.invisible-block .item-controls{
    background: #f2f2f2!important;
    color: #999;
    color: rgba(0,0,0,0.3);
}
#editor-row button{
    margin: 5px 2px 0 0;
}
