.es-editor{
    text-align: right;
    padding-right: 0.9375em;
}
.es-editor > .es-plugins{
    float: left;
    height: 41px;
}
.es-editor > .es-plugins > .plugin{ padding: 0 5px; background: #f9f9f9; border: 1px solid rgba(0,0,0,0.1); display: inline-block; -webkit-transition: all 250ms ease;-moz-transition: all 250ms ease;-ms-transition: all 250ms ease;-o-transition: all 250ms ease;transition: all 250ms ease; }
.es-editor > .es-plugins > .plugin:hover{ background-color: #FFF; border-color: rgba(0,0,0,0.25); }
.es-editor > .es-plugins > img{width: 20px; height: 20px;}
.es-editor > .es-plugins a .fa{ font-size: 18px; color: #aeaeae; width: 24px; vertical-align: middle; }
.es-editor > .es-plugins a{line-height: 30px; color: #999; display: inline-block; }
.es-editor > .es-plugins a:hover,.es-editor > .es-plugins a:hover > *{ color: #333; }
.es-editor .edButtonHTML, .es-editor .edButtonPreview{
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 1px -2px 0;
    padding: 10px;
    cursor: pointer;
    border: 0;
    background: transparent;
    color: #999;
    font-size: 1.1em;
}
a.edButtonHTML:hover, a.edButtonPreview:hover{
    color: #666;
    padding: 8px 10px 12px 10px;
}
.es-editor a.edButtonHTML.active,.es-editor a.edButtonPreview.active{
    background: #F9F9F9; /* Old browsers */
    color: #444;
    border: 1px solid #E1E1E1;
    border-bottom: 1px solid #fff;
}

.ed-container .showing{
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
.quicktags{
    background: #f9f9f9; /* Old browsers */
    padding: 3px;
    margin-bottom: -2px;
	display: none;
    border-bottom: 0;
}
div.quicktags button{
    border-radius: 0;
    padding: 4px 6px;
    font-size: 1em;
    font-weight: normal;
    color: #666;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 2px;
    text-shadow: none;
    background: transparent;
    box-shadow: none;
}
div.quicktags button:hover{
    background: rgba(0,0,0,0.05);
    border-color: rgba(0,0,0,0.2);
}
div.ed-container textarea{
	font-size: 1.05em;
	color: #333;
	padding: 10px 3px;
    background: #FFF;
    border: 0;
	box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
}
.ed-container textarea:focus{
	border-color: #e1e1e1;
}