span.cu-item-options{
	display: block;
	font-size: 0.9em;
	padding: 4px 0;
	opacity: 0;
    transition: opacity 200ms ease-in-out;
}
.table > tbody > tr > td:hover span.cu-item-options{
	opacity: 1;
}
div.cu-bulk-actions{
	padding: 8px 0;
    margin: 10px 0;
}
div.cu-bulk-actions div.rmc_pages_navigation_container{
	float: right;
}
div.cu-bulk-actions .form-control{
    max-width: 200px!important;
    display: inline-block;
}
div.cu-bulk-actions .input-group{
    max-width: 300px;
}
div.cu-bulk-actions .input-group .form-control{
    max-width: 100%!important;
}
.descriptions{
	padding: 8px 0;
	color: #666;
}
/* IMAGE MANAGER */
.image_manager_launcher{
    background-image: url(../images/images.png);
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 24px;
}

/* Admin Toolbar */
#rmc-toolbar .nav > li > .cu-tool > span{
    background: url(../images/sprites/toolbar.png);
    background-repeat: no-repeat;
    display: block;
    width: 32px; height: 32px;
    margin: 0 auto;
}
#rmc-toolbar .nav > li > .tool-dashboard > span{ background-position: 0 0; }
#rmc-toolbar .nav > li > .tool-modules > span{ background-position: -32px 0; }
#rmc-toolbar .nav > li > .tool-blocks > span{ background-position: -64px 0; }
#rmc-toolbar .nav > li > .tool-groups > span{ background-position: -96px 0; }
#rmc-toolbar .nav > li > .tool-users > span{ background-position: -128px 0; }
#rmc-toolbar .nav > li > .tool-images > span{ background-position: -160px 0; }
#rmc-toolbar .nav > li > .tool-comments > span{ background-position: -192px 0; }
#rmc-toolbar .nav > li > .tool-plugins > span{ background-position: -224px 0; }
#rmc-toolbar .nav > li > .tool-updates > span{ background-position: -256px 0; }
#rmc-toolbar .nav > li > .tool-users-list > span{ background-position: -288px 0; }
#rmc-toolbar .nav > li > .tool-user-add > span{ background-position: 0 -32px; }
#rmc-toolbar .nav > li > .tool-group-add > span{ background-position: -64px -32px; }
#rmc-toolbar .nav > li > .tool-categories-images > span{ background-position: -96px -32px; }
#rmc-toolbar .nav > li > .tool-category-add > span{ background-position: -128px -32px; }
#rmc-toolbar .nav > li > .tool-images-add > span{ background-position: -160px -32px; }
#rmc-toolbar .nav > li > .tool-group-delete > span{ background-position: -192px -32px; }
#rmc-toolbar .nav > li > .tool-group-edit > span{ background-position: -224px -32px; }

/*
LOADER
This classes are used with ajax loader
*/
/* Blocker */
.cu-window-blocker{
    background: #000;
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0.8;
    z-index: 1050;
}
.cu-window-loader{
    display: none;
    width: 300px;
    height: 60px;
    line-height: 48px;
    position: fixed;
    top: 40%; left: 50%;
    margin-top: -30px;
    margin-left: -150px;
    background: #EBEBEB;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    color: #666;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    z-index: 1052;
}
.cu-window-loader > .loader-container{
    padding: 6px 6px 6px 40px;
    background: url(../images/loader-gray.gif) no-repeat 6px 14px;
}

/*
CU Top Tabs
*/
.cu-content-footer{
    padding: 10px 15px 10px 15px;
    position: absolute;
    bottom: 0; left: 0; right: 0;
}
.cu-content-with-footer{
    padding-bottom: 60px;
}

/* Dialogs */
.cu-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
}

.cu-modal.in .cu-dialog-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.cu-dialog-dialog {
    position: relative;
    z-index: 1050;
    width: auto;
    margin: 10px;
    border-radius: 6px;
}

.cu-dialog-content {
    position: relative;
    background-color: #f1f1f1;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}
.cu-dialog-header {
    min-height: 16.428571429px;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: bold;
}

.cu-dialog-header .close {
    margin-top: -2px;
}

.cu-dialog-title {
    margin: 0;
    line-height: 1.428571429;
}

.cu-dialog-body {
    position: relative;
    padding: 15px;
}

.cu-dialog-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.cu-dialog-footer:before,
.cu-dialog-footer:after {
    display: table;
    content: " ";
}

.cu-dialog-footer:after {
    clear: both;
}

.cu-dialog-footer:before,
.cu-dialog-footer:after {
    display: table;
    content: " ";
}

.cu-dialog-footer:after {
    clear: both;
}

.cu-dialog-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.cu-dialog-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.cu-dialog-footer .btn-block + .btn-block {
    margin-left: 0;
}

/* News Box */
.cu-ajax-news{
    display: none;
}
.cu-ajax-news > li{
    margin-bottom: 10px;
    border-bottom: 1px solid #DDD;
}
.cu-ajax-news small{
    font-size: 0.8em;
    color: #333;
}
.cu-ajax-news h5{
    margin: 0;
    font-weight: bold;
}
.cu-ajax-news p{
    margin: 0;
    font-size: 0.9em;
}

@media screen and (min-width: 768px) {
    .cu-dialog-dialog{
        margin: 30px auto;
    }
    .cu-dialog-dialog.xxlarge{
        width: 95%;
    }
    .cu-dialog-dialog.xlarge{
        width: 80%;
    }
    .cu-dialog-dialog.large{
        width: 65%;
    }
    .cu-dialog-dialog.medium{
        width: 50%;
    }
    .cu-dialog-dialog.small{
        width: 30%;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}