@import url('http://fonts.googleapis.com/css?family=Roboto%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Clatin-ext&#038;ver=3.8');
html{
    height: 100%;
}
body{
	margin: 0;
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    padding-bottom: 10px;
}
.container{
    width: 96%;
}

#img-toolbar{
	background: #CCC;
	color: #000;
	overflow: hidden;
	padding: 8px 6px;
    position: fixed;
    right: 0; left: 0; top: 0;
    z-index: 100;
    border-bottom: 1px solid #FFF;
}
#img-toolbar a{
	display: block;
	padding: 2px 5px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	float: left;
	text-transform: uppercase;
    border-radius: 0;
    margin: 0 3px;
    border: 1px solid #ccc;
}
#img-toolbar a.select{
	background: #999;
	color: #fff;
    border: 1px solid #D3D3D3;
}
#img-toolbar a:hover{
	background-color: #666;
	color: #FFF;
    border: 1px solid #ccc;
}
#upload-container{
    padding: 5px;
    overflow: hidden;
}
#upload-errors{
    width: 45%;
}
.uploadifyQueueItem {
    font: 11px Verdana, Geneva, sans-serif;
    border: 2px solid #E5E5E5;
    background-color: #F5F5F5;
    margin-top: 5px;
    padding: 5px;
    width: 45%;
}
.uploadifyError {
    border: 2px solid #FBCBBC !important;
    background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
    float: right;
}
.uploadifyProgress {
    background-color: #FFFFFF;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    margin-top: 10px;
    width: 100%;
}
.uploadifyProgressBar {
    background-color: #FF4400;
    width: 1px;
    height: 8px;
}
.categories_selector{
    padding: 6px 0 10px 0;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
}
.categories_selector .form-control{
    display: inline-block;
    max-width: 200px;
}

/** THUMBNAILS **/
.thumbnail-item{
    display: inline-block;
    width: 140px;
    height: 140px;
    border: 1px solid #FFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    margin: 4px;
    background-position: center;
    background-size: 140px 140px;
    position: relative;
}
.thumbnail-item:hover, .thumbnail-hover, .mini-hover{
    box-shadow: 0 0 0 2px rgba(255, 105, 63,0.9);
}
.mini-hover{
    box-shadow: none;
    border: 1px solid rgb(255, 105, 63);
}
.thumbnail-item > .thumbnail-cover{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0);
    transition: ease all 250ms;
}
.thumbnail-item:hover > .thumbnail-cover,
.thumbnail-hover > .thumbnail-cover,
.thumbnail-item.thumb-selected > .thumbnail-cover{
    background: rgba(255,255,255,0.4);
}
.thumbnail-item > .add,
.thumbnail-item > .insert{
    display: inline-block;
    padding: 6px;
    width: 30px; height: 30px;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    color: #FFF;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    transition: ease all 250ms;
}
.thumbnail-item > .add{
    left: 31px;
}
.thumbnail-item > .insert{
    left: 0;
}
.thumbnail-item > .check{
    background: #FFF; /*rgb(3, 184, 201);*/
    bottom: 0; right: 0;
    padding: 6px;
    width: 30px; height: 30px;
    opacity: 0;
    color: #000;/*#FFF;*/
    font-size: 18px;
    position: absolute;
    border-radius: 2px 0 0 0;
    transition: ease all 250ms;
    box-shadow: -3px -3px 4px rgba(0,0,0,0.3);
}
.thumbnail-item > .add:hover{
    background-color: rgba(253, 98, 46, 0.7);
}
.thumbnail-item > .insert:hover{
    background-color: rgba(44, 204, 56, 0.7);
}

.thumbnail-item:hover > .add,
.thumbnail-item:hover > .insert{
    opacity: 1;
}
.thumbnail-item.thumb-selected{
    border: 1px solid #FFFFFF;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.6);
    cursor: pointer;
}
.thumbnail-item.thumb-selected > .check{
    opacity: 1;
}

#inserter-blocker{
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.3);
}
#image-inserter{
    display: none;
    position: fixed;
    top: 50px; right: 5%; bottom: 5%; left: 5%;
    background: #FFF;
    border: 1px solid rgba(0,0,0,0.3);
    overflow-x: hidden;
    overflow-y: auto;
}
#image-inserter > .title{
    background: #ebebeb;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-weight: bold;
}
#image-inserter > .content{
    padding: 15px;
}
#image-inserter > .content > .image-info{
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 340px;
    padding: 20px;
    float: left;
    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.05);
}
#image-inserter > .content > .image-form{
    padding: 5px 20px;
    font-size: 0.9em;
    margin-left: 340px;
}
#image-inserter > .content .image{
    display: block;
    border: 1px solid #FFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
    width: 300px;
    height: 200px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}
#image-inserter .author-info{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 5px;;
    margin-bottom: 5px;
}
#image-inserter .img-links{
    margin-top: 5px;
}
#image-inserter .img-sizes label{
    display: inline-block;
    text-align: center;
    font-weight: normal;
    padding: 4px 8px;
}
#image-inserter .img-sizes label > span{
    display: block;
}

/** IMAGES TRAY **/
#images-tray{
    background: #CCCCCC;
    padding: 5px;
    border-top: 1px solid #FFF;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    display: none;
    overflow: hidden;
    z-index: 101;
}
#images-tray .tray-commands{
    text-align: center;
}
#images-tray .tray-added{
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
}
#images-tray .tray-added .images{
    height: 45px;
    padding: 5px 5px 0 0;
    overflow: hidden;
    display: inline-block;
}
#images-tray .tray-added .img{
    width: 40px; height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
    background-color: #FFF;
    display: inline-block;
    padding: 1px;
    border: 1px solid rgba(0,0,0,0.5);
    margin: 0 2px 0 0;
    cursor: pointer;
    position: relative;
}
.img.mini-hover{
    border: 1px solid rgb(255, 105, 63)!important;
}

#resizer-bar span.message{
    float: none;
}
#library-container{
    display: none;
    padding: 5px;
}
#fromurl-container{
    display: none;
    padding: 5px;
}
.loading{
    background: url(../images/loading.gif) no-repeat center;
    min-height: 100px;
}
.image_data{
    display: none;
}
.image_link{
    overflow: hidden;
}
.image_link input{
    display: block;
}
.image_link a{
    float: left;
    display: block;
    padding: 2px 10px;
    border-radius: 0;
    background: #fff;
    border: 1px solid #CCC;
    margin: 3px 1px;
    font-size: 0.9em;
    color: #666;
}
.image_link a:hover{
    color: #000;
    background: #fff;
    border: 1px solid #333;
    text-decoration: none;
}
.data_hide{
    float: right;
}
.the_data{
    background: #ebebeb;
}
.rmc_pages_navigation_container{
    overflow: hidden;
    margin: 5px 0;
}
.insert_button{
	display: block;
	float: left;
	padding: 3px 15px;
	margin: 0 5px;
    border-radius: 0;
    background: #999;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.80em;
}
.insert_button:hover{
	background: #666;
	color: #FFF;
	text-decoration: none;
}
.sizes{
	overflow: hidden;
}
.sizes label{
	display: block;
	float: left;
	margin: 4px;
	text-align: center;
	cursor: pointer;
	border: 1px dotted #ebebeb;
	padding: 4px;
}
.sizes label:hover{
	background: #FFF;
	border: 1px dotted #CCC;
}

.outer{
    border: 0;
    width: 99%;
    border: 1px solid #CCC;
    border-radius: 0;
    padding: 1px;
}
th, .th{
    padding: 6px;
    border-bottom: 3px solid #ccc;
    color: #fff;
    font-weight: bold;
    background: #436D92 url(../images/bgth.png) repeat-x top;
    text-shadow: 0 0 2px #000;
    font-family: tahoma, verdana, arial, sans-serif;
}
.outer div.th:first-child{
    -moz-border-radius-topleft: 5px;
    -khtml-border-top-left-radius: 5px;
    -webkit-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -khtml-border-top-right-radius: 5px;
    -webkit-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.outer tr:first-child th:first-child,
.outer tr:first-child td:first-child{
    -moz-border-radius-topleft: 5px;
    -khtml-border-top-left-radius: 5px;
    -webkit-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}
.outer tr:first-child th:last-child,
.outer tr:first-child td:last-child{
    -moz-border-radius-topright: 5px;
    -khtml-border-top-right-radius: 5px;
    -webkit-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}
.outer tr:last-child th:first-child,
.outer tr:last-child td:first-child,
.outer tfoot th:first-child{
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-bottom-left-radius: 5px;
    -webkit-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}
.outer tr:last-child th:last-child,
.outer tr:last-child td:last-child,
.outer tfoot th:last-child{
    -moz-border-radius-bottomright: 5px;
    -khtml-border-bottom-right-radius: 5px;
    -webkit-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}
.outer tfoot th,
.outer tfoot td{
    border-bottom: 0;
}
.outer tr.even:last-child td,
.outer tr.odd:last-child td{
    border-bottom: 0;
}

.head{
    font-weight: bold;
    padding: 3px;
    color: #333;
}
tr.head td, div.head{
    padding: 4px;
    background: #f2f2f2;
    color: #333;
    border-bottom: 1px solid #CCC;
}
.even, tr.even td, .odd, tr.odd td{
    padding: 6px 3px;
}
tr.even td, tr.odd td{
    border-bottom: 1px dotted #ccc;
}
form .outer td.head{
    border-right: 1px dotted #CCC;
}
.foot, tr.foot td{
    padding: 3px;
    border-top: 1px dotted #CCC;
    font-size: 0.9em;
}
.description{
    font-size: 0.9em;
    color: #666;
    font-style: italic;
}
.size_url span{background: yellow;padding: 0 2px;}
