.feed_name{
	background: url(../images/rss.png) left no-repeat;
	padding: 2px 2px 2px 38px;
	margin-bottom: 0px;
}
.feed_url{
	font-size: 0.8em;
	margin: 0 0 15px 0;
	padding: 0 0 0 38px;
}
.feed_options{
	list-style: none;
	margin: 0;
	padding: 0 0 0 40px;
}
.feed_option{
	background: url(../images/rss_s.png) no-repeat left 2px;
	padding: 2px 2px 2px 20px;
	margin: 3px 0;
}
.feed_option .name{
	font-weight: bold;
	display: block;
}
.feed_option .description{
	font-size: 0.9em;
}