.ed-plugins{
    padding: 6px;
    background: #e3e3e3 url(../images/ed-bg.png) repeat-x top;
    border: 1px solid #CCC;
    border-bottom: 0;
    margin: 0;
    overflow: hidden;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
.ed-plugins a{
    display: block;
    padding: 4px;
    margin: 0 1px;
    float: left;
    background: url(../images/butt2.png) repeat-x left 0px;
    border: 1px solid #CCC;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.ed-plugins a:hover{
    background-position: 0 -50px;
}
.xc-editor{
    margin: 0;
    border-color: #CCC;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -khtml-border-top-left-radius: 0;
    -khtml-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    padding: 4px;
}