{
  "name": "rmcommon",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/js/cu-handler.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"../js/cu-handler.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/js/forms.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"../js/forms.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/js/editor.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"../js/editor.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/js/quicktags.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"../js/quicktags.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/api/editors/tinymce/skins/lightgray/Skin.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../api/editors/tinymce/skins/lightgray/skin.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "js/api/editors/tinymce/skins/lightgray/Content.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../api/editors/tinymce/skins/lightgray/content.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "js/api/editors/tinymce/skins/lightgray/Content.Inline.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../api/editors/tinymce/skins/lightgray/content.inline.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "less/css/editor-tiny.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/editor-tiny.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "less/css/forms.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "less/css/general.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/general.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "less/css/popup-images-manager.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/popup-images-manager.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "less/css/pop-images-manager.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/pop-images-manager.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "js/api/editors",
      "js/api/editors/tinymce",
      "js/api/editors/tinymce/skins",
      "js/api/editors/tinymce/skins/lightgray",
      "less",
      "less/css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "helium/js/helium.js",
      "imports": [
        "helium/js/bootstrap-submenu.js",
        "helium/js/perfect-scrollbar.jquery.js"
      ]
    },
    {
      "path": "helium/less/bootstrap.less",
      "imports": [
        "helium/less/helium/variables.less",
        "helium/less/bootstrap/variables.less",
        "helium/less/bootstrap/mixins.less",
        "helium/less/bootstrap/normalize.less",
        "helium/less/bootstrap/print.less",
        "helium/less/bootstrap/glyphicons.less",
        "helium/less/bootstrap/scaffolding.less",
        "helium/less/bootstrap/type.less",
        "helium/less/bootstrap/code.less",
        "helium/less/bootstrap/grid.less",
        "helium/less/bootstrap/tables.less",
        "helium/less/bootstrap/forms.less",
        "helium/less/bootstrap/buttons.less",
        "helium/less/bootstrap/component-animations.less",
        "helium/less/bootstrap/dropdowns.less",
        "helium/less/bootstrap/button-groups.less",
        "helium/less/bootstrap/input-groups.less",
        "helium/less/bootstrap/navs.less",
        "helium/less/bootstrap/navbar.less",
        "helium/less/bootstrap/breadcrumbs.less",
        "helium/less/bootstrap/pagination.less",
        "helium/less/bootstrap/pager.less",
        "helium/less/bootstrap/labels.less",
        "helium/less/bootstrap/badges.less",
        "helium/less/bootstrap/jumbotron.less",
        "helium/less/bootstrap/thumbnails.less",
        "helium/less/bootstrap/alerts.less",
        "helium/less/bootstrap/progress-bars.less",
        "helium/less/bootstrap/media.less",
        "helium/less/bootstrap/list-group.less",
        "helium/less/bootstrap/panels.less",
        "helium/less/bootstrap/responsive-embed.less",
        "helium/less/bootstrap/wells.less",
        "helium/less/bootstrap/close.less",
        "helium/less/bootstrap/modals.less",
        "helium/less/bootstrap/tooltip.less",
        "helium/less/bootstrap/popovers.less",
        "helium/less/bootstrap/carousel.less",
        "helium/less/bootstrap/utilities.less",
        "helium/less/bootstrap/responsive-utilities.less",
        "helium/less/helium/mixins/svg-icons.less",
        "helium/less/helium/mixins/boxes.less",
        "helium/less/helium/mixins/utilities.less",
        "helium/less/helium/mixins/options.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/alerts.less",
        "helium/less/helium/colors.less",
        "helium/less/bootstrap/mixins/hide-text.less",
        "helium/less/bootstrap/mixins/opacity.less",
        "helium/less/bootstrap/mixins/image.less",
        "helium/less/bootstrap/mixins/labels.less",
        "helium/less/bootstrap/mixins/reset-filter.less",
        "helium/less/bootstrap/mixins/resize.less",
        "helium/less/bootstrap/mixins/responsive-visibility.less",
        "helium/less/bootstrap/mixins/size.less",
        "helium/less/bootstrap/mixins/tab-focus.less",
        "helium/less/bootstrap/mixins/reset-text.less",
        "helium/less/bootstrap/mixins/text-emphasis.less",
        "helium/less/bootstrap/mixins/text-overflow.less",
        "helium/less/bootstrap/mixins/vendor-prefixes.less",
        "helium/less/bootstrap/mixins/pagination.less",
        "helium/less/bootstrap/mixins/list-group.less",
        "helium/less/bootstrap/mixins/nav-divider.less",
        "helium/less/bootstrap/mixins/forms.less",
        "helium/less/bootstrap/mixins/progress-bar.less",
        "helium/less/bootstrap/mixins/table-row.less",
        "helium/less/bootstrap/mixins/background-variant.less",
        "helium/less/bootstrap/mixins/border-radius.less",
        "helium/less/bootstrap/mixins/gradients.less",
        "helium/less/bootstrap/mixins/clearfix.less",
        "helium/less/bootstrap/mixins/center-block.less",
        "helium/less/bootstrap/mixins/nav-vertical-align.less",
        "helium/less/bootstrap/mixins/grid-framework.less",
        "helium/less/bootstrap/mixins/grid.less"
      ]
    },
    {
      "path": "helium/less/helium.less",
      "imports": [
        "helium/less/bootstrap/variables.less",
        "helium/less/helium/variables.less",
        "helium/less/helium/grid.less",
        "helium/less/helium/topbar.less",
        "helium/less/helium/perfect-scrollbar.less",
        "helium/less/helium/sidebar.less",
        "helium/less/helium/content.less",
        "helium/less/helium/help.less",
        "helium/less/helium/z-indexes.less",
        "helium/less/helium/submenu/bootstrap-submenu.less",
        "helium/less/helium/pnotify.custom.less",
        "helium/less/helium/spinner.less",
        "helium/less/helium/animate.less",
        "helium/less/helium/scaffolding.less",
        "helium/less/helium/general.less",
        "helium/less/helium/alerts.less",
        "helium/less/helium/buttons.less",
        "helium/less/helium/cu-boxes.less",
        "helium/less/helium/panels.less",
        "helium/less/helium/forms.less",
        "helium/less/helium/toolbar.less",
        "helium/less/helium/labels.less",
        "helium/less/helium/texts.less",
        "helium/less/helium/progress.less",
        "helium/less/helium/mixins/svg-icons.less",
        "helium/less/helium/mixins/boxes.less",
        "helium/less/helium/mixins/utilities.less",
        "helium/less/helium/mixins/options.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/alerts.less",
        "helium/less/helium/colors.less",
        "helium/less/bootstrap/mixins/grid-framework.less",
        "helium/less/helium/submenu/mixins.less",
        "helium/less/bootstrap/mixins/clearfix.less",
        "helium/less/helium/mixins/modals.less",
        "helium/less/bootstrap/mixins/labels.less",
        "helium/less/bootstrap/mixins/text-emphasis.less",
        "helium/less/bootstrap/mixins/background-variant.less",
        "helium/less/bootstrap/mixins/gradients.less",
        "helium/less/bootstrap/mixins/progress-bar.less"
      ]
    },
    {
      "path": "helium/less/rmcommon.less",
      "imports": [
        "helium/less/bootstrap/variables.less",
        "helium/less/helium/variables.less",
        "helium/less/rmcommon/variables.less",
        "helium/less/rmcommon/dashboard.less",
        "helium/less/rmcommon/widgets.less",
        "helium/less/rmcommon/updates.less",
        "helium/less/rmcommon/about.less",
        "helium/less/rmcommon/blocks.less",
        "helium/less/rmcommon/services.less",
        "helium/less/rmcommon/icons.less",
        "helium/less/helium/mixins/svg-icons.less",
        "helium/less/helium/mixins/boxes.less",
        "helium/less/helium/mixins/utilities.less",
        "helium/less/helium/mixins/options.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/alerts.less",
        "helium/less/helium/colors.less"
      ]
    },
    {
      "path": "js/js/cu-handler.js",
      "imports": [
        "js/js/bootbox.js",
        "js/js/cu-spinner.js",
        "js/js/pnotify.custom.js",
        "js/js/jsrender.min.js"
      ]
    },
    {
      "path": "less/css/forms.less",
      "imports": [
        "helium/less/helium/variables.less",
        "helium/less/bootstrap/variables.less",
        "helium/less/helium/mixins/svg-icons.less",
        "helium/less/helium/mixins/boxes.less",
        "helium/less/helium/mixins/utilities.less",
        "helium/less/helium/mixins/options.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/alerts.less",
        "helium/less/helium/colors.less"
      ]
    },
    {
      "path": "less/css/imgmgr.less",
      "imports": [
        "helium/less/helium/variables.less",
        "helium/less/bootstrap/variables.less",
        "helium/less/helium/mixins/svg-icons.less",
        "helium/less/helium/mixins/boxes.less",
        "helium/less/helium/mixins/utilities.less",
        "helium/less/helium/mixins/options.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/alerts.less",
        "helium/less/helium/colors.less"
      ]
    },
    {
      "path": "less/css/popup-images-manager.less",
      "imports": [
        "helium/less/helium/variables.less",
        "helium/less/bootstrap/variables.less",
        "helium/less/helium/mixins/svg-icons.less",
        "helium/less/helium/mixins/boxes.less",
        "helium/less/helium/mixins/utilities.less",
        "helium/less/helium/mixins/options.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/alerts.less",
        "helium/less/helium/colors.less"
      ]
    },
    {
      "path": "helium/less/bootstrap/mixins.less",
      "imports": [
        "helium/less/bootstrap/mixins/hide-text.less",
        "helium/less/bootstrap/mixins/opacity.less",
        "helium/less/bootstrap/mixins/image.less",
        "helium/less/bootstrap/mixins/labels.less",
        "helium/less/bootstrap/mixins/reset-filter.less",
        "helium/less/bootstrap/mixins/resize.less",
        "helium/less/bootstrap/mixins/responsive-visibility.less",
        "helium/less/bootstrap/mixins/size.less",
        "helium/less/bootstrap/mixins/tab-focus.less",
        "helium/less/bootstrap/mixins/reset-text.less",
        "helium/less/bootstrap/mixins/text-emphasis.less",
        "helium/less/bootstrap/mixins/text-overflow.less",
        "helium/less/bootstrap/mixins/vendor-prefixes.less",
        "helium/less/bootstrap/mixins/alerts.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/pagination.less",
        "helium/less/bootstrap/mixins/list-group.less",
        "helium/less/bootstrap/mixins/nav-divider.less",
        "helium/less/bootstrap/mixins/forms.less",
        "helium/less/bootstrap/mixins/progress-bar.less",
        "helium/less/bootstrap/mixins/table-row.less",
        "helium/less/bootstrap/mixins/background-variant.less",
        "helium/less/bootstrap/mixins/border-radius.less",
        "helium/less/bootstrap/mixins/gradients.less",
        "helium/less/bootstrap/mixins/clearfix.less",
        "helium/less/bootstrap/mixins/center-block.less",
        "helium/less/bootstrap/mixins/nav-vertical-align.less",
        "helium/less/bootstrap/mixins/grid-framework.less",
        "helium/less/bootstrap/mixins/grid.less"
      ]
    },
    {
      "path": "helium/less/bootstrap/theme.less",
      "imports": [
        "helium/less/bootstrap/variables.less",
        "helium/less/bootstrap/mixins.less",
        "helium/less/bootstrap/mixins/hide-text.less",
        "helium/less/bootstrap/mixins/opacity.less",
        "helium/less/bootstrap/mixins/image.less",
        "helium/less/bootstrap/mixins/labels.less",
        "helium/less/bootstrap/mixins/reset-filter.less",
        "helium/less/bootstrap/mixins/resize.less",
        "helium/less/bootstrap/mixins/responsive-visibility.less",
        "helium/less/bootstrap/mixins/size.less",
        "helium/less/bootstrap/mixins/tab-focus.less",
        "helium/less/bootstrap/mixins/reset-text.less",
        "helium/less/bootstrap/mixins/text-emphasis.less",
        "helium/less/bootstrap/mixins/text-overflow.less",
        "helium/less/bootstrap/mixins/vendor-prefixes.less",
        "helium/less/bootstrap/mixins/alerts.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/pagination.less",
        "helium/less/bootstrap/mixins/list-group.less",
        "helium/less/bootstrap/mixins/nav-divider.less",
        "helium/less/bootstrap/mixins/forms.less",
        "helium/less/bootstrap/mixins/progress-bar.less",
        "helium/less/bootstrap/mixins/table-row.less",
        "helium/less/bootstrap/mixins/background-variant.less",
        "helium/less/bootstrap/mixins/border-radius.less",
        "helium/less/bootstrap/mixins/gradients.less",
        "helium/less/bootstrap/mixins/clearfix.less",
        "helium/less/bootstrap/mixins/center-block.less",
        "helium/less/bootstrap/mixins/nav-vertical-align.less",
        "helium/less/bootstrap/mixins/grid-framework.less",
        "helium/less/bootstrap/mixins/grid.less"
      ]
    },
    {
      "path": "helium/less/helium/alerts.less",
      "imports": [
        "helium/less/bootstrap/mixins/clearfix.less"
      ]
    },
    {
      "path": "helium/less/helium/cu-boxes.less",
      "imports": [
        "helium/less/helium/mixins/modals.less"
      ]
    },
    {
      "path": "helium/less/helium/grid.less",
      "imports": [
        "helium/less/bootstrap/mixins/grid-framework.less"
      ]
    },
    {
      "path": "helium/less/helium/labels.less",
      "imports": [
        "helium/less/bootstrap/mixins/labels.less"
      ]
    },
    {
      "path": "helium/less/helium/progress.less",
      "imports": [
        "helium/less/bootstrap/mixins/gradients.less",
        "helium/less/bootstrap/mixins/progress-bar.less"
      ]
    },
    {
      "path": "helium/less/helium/texts.less",
      "imports": [
        "helium/less/bootstrap/mixins/text-emphasis.less",
        "helium/less/bootstrap/mixins/background-variant.less"
      ]
    },
    {
      "path": "helium/less/helium/variables.less",
      "imports": [
        "helium/less/helium/mixins/svg-icons.less",
        "helium/less/helium/mixins/boxes.less",
        "helium/less/helium/mixins/utilities.less",
        "helium/less/helium/mixins/options.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/alerts.less",
        "helium/less/helium/colors.less"
      ]
    },
    {
      "path": "helium/less/helium/submenu/bootstrap-submenu.less",
      "imports": [
        "helium/less/helium/submenu/mixins.less"
      ]
    },
    {
      "path": "less/api/editors/markdown/less/mardown-editor.less",
      "imports": [
        "less/api/editors/markdown/less/codemirror.less",
        "less/api/editors/full-screen.less"
      ]
    },
    {
      "path": "js/api/editors/tinymce/skins/lightgray/Content.Inline.less",
      "imports": [
        "js/api/editors/tinymce/skins/lightgray/less/Mixins.less",
        "js/api/editors/tinymce/skins/lightgray/less/Content.Objects.less"
      ]
    },
    {
      "path": "js/api/editors/tinymce/skins/lightgray/Content.less",
      "imports": [
        "js/api/editors/tinymce/skins/lightgray/less/Variables.less",
        "js/api/editors/tinymce/skins/lightgray/less/Mixins.less",
        "js/api/editors/tinymce/skins/lightgray/less/Content.Objects.less",
        "helium/less/helium/variables.less",
        "helium/less/helium/colors.less",
        "helium/less/bootstrap/variables.less",
        "helium/less/helium/mixins/svg-icons.less",
        "helium/less/helium/mixins/boxes.less",
        "helium/less/helium/mixins/utilities.less",
        "helium/less/helium/mixins/options.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/alerts.less"
      ]
    },
    {
      "path": "js/api/editors/tinymce/skins/lightgray/Skin.less",
      "imports": [
        "js/api/editors/tinymce/skins/lightgray/less/Variables.less",
        "js/api/editors/tinymce/skins/lightgray/less/Reset.less",
        "js/api/editors/tinymce/skins/lightgray/less/Mixins.less",
        "js/api/editors/tinymce/skins/lightgray/less/Animations.less",
        "js/api/editors/tinymce/skins/lightgray/less/TinyMCE.less",
        "js/api/editors/tinymce/skins/lightgray/less/CropRect.less",
        "js/api/editors/tinymce/skins/lightgray/less/ImagePanel.less",
        "js/api/editors/tinymce/skins/lightgray/less/Arrows.less",
        "js/api/editors/tinymce/skins/lightgray/less/Sidebar.less",
        "js/api/editors/tinymce/skins/lightgray/less/Container.less",
        "js/api/editors/tinymce/skins/lightgray/less/Scrollable.less",
        "js/api/editors/tinymce/skins/lightgray/less/Panel.less",
        "js/api/editors/tinymce/skins/lightgray/less/FloatPanel.less",
        "js/api/editors/tinymce/skins/lightgray/less/Window.less",
        "js/api/editors/tinymce/skins/lightgray/less/ToolTip.less",
        "js/api/editors/tinymce/skins/lightgray/less/Progress.less",
        "js/api/editors/tinymce/skins/lightgray/less/Notification.less",
        "js/api/editors/tinymce/skins/lightgray/less/AbsoluteLayout.less",
        "js/api/editors/tinymce/skins/lightgray/less/Button.less",
        "js/api/editors/tinymce/skins/lightgray/less/ButtonGroup.less",
        "js/api/editors/tinymce/skins/lightgray/less/Checkbox.less",
        "js/api/editors/tinymce/skins/lightgray/less/ComboBox.less",
        "js/api/editors/tinymce/skins/lightgray/less/ColorBox.less",
        "js/api/editors/tinymce/skins/lightgray/less/ColorButton.less",
        "js/api/editors/tinymce/skins/lightgray/less/ColorPicker.less",
        "js/api/editors/tinymce/skins/lightgray/less/Path.less",
        "js/api/editors/tinymce/skins/lightgray/less/FieldSet.less",
        "js/api/editors/tinymce/skins/lightgray/less/FitLayout.less",
        "js/api/editors/tinymce/skins/lightgray/less/FlowLayout.less",
        "js/api/editors/tinymce/skins/lightgray/less/Iframe.less",
        "js/api/editors/tinymce/skins/lightgray/less/InfoBox.less",
        "js/api/editors/tinymce/skins/lightgray/less/Label.less",
        "js/api/editors/tinymce/skins/lightgray/less/MenuBar.less",
        "js/api/editors/tinymce/skins/lightgray/less/MenuButton.less",
        "js/api/editors/tinymce/skins/lightgray/less/MenuItem.less",
        "js/api/editors/tinymce/skins/lightgray/less/Throbber.less",
        "js/api/editors/tinymce/skins/lightgray/less/Menu.less",
        "js/api/editors/tinymce/skins/lightgray/less/ListBox.less",
        "js/api/editors/tinymce/skins/lightgray/less/Radio.less",
        "js/api/editors/tinymce/skins/lightgray/less/ResizeHandle.less",
        "js/api/editors/tinymce/skins/lightgray/less/SelectBox.less",
        "js/api/editors/tinymce/skins/lightgray/less/Slider.less",
        "js/api/editors/tinymce/skins/lightgray/less/Spacer.less",
        "js/api/editors/tinymce/skins/lightgray/less/SplitButton.less",
        "js/api/editors/tinymce/skins/lightgray/less/StackLayout.less",
        "js/api/editors/tinymce/skins/lightgray/less/TabPanel.less",
        "js/api/editors/tinymce/skins/lightgray/less/TextBox.less",
        "js/api/editors/tinymce/skins/lightgray/less/Icons.less",
        "helium/less/helium/variables.less",
        "helium/less/helium/colors.less",
        "helium/less/bootstrap/variables.less",
        "helium/less/helium/mixins/svg-icons.less",
        "helium/less/helium/mixins/boxes.less",
        "helium/less/helium/mixins/utilities.less",
        "helium/less/helium/mixins/options.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/alerts.less"
      ]
    },
    {
      "path": "js/api/editors/tinymce/skins/lightgray/less/Variables.less",
      "imports": [
        "helium/less/helium/variables.less",
        "helium/less/helium/colors.less",
        "helium/less/bootstrap/variables.less",
        "helium/less/helium/mixins/svg-icons.less",
        "helium/less/helium/mixins/boxes.less",
        "helium/less/helium/mixins/utilities.less",
        "helium/less/helium/mixins/options.less",
        "helium/less/bootstrap/mixins/panels.less",
        "helium/less/bootstrap/mixins/buttons.less",
        "helium/less/bootstrap/mixins/alerts.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../../css/\"},\"outputSuffix\":null}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"outputSuffix\":\".min\"}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"relative\":\"../../js/\"},\"outputSuffix\":\".min\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}